        <div class='container footer'>
            <a href='https://www.facebook.com/DSSFERIAPartnership/' target='_blank'><span class='icon fab fa-facebook-f'></span></a>
            <a href='https://www.youtube.com/watch?v=ABUYlotv1iw&t=1s'><span class='icon fab fa-youtube'></span></a>
            <a href='mailto:feria.partnership@gmail.com'><span class='icon fas fa-envelope'></span></a>
            <p><span>© Copyright 2018 FERIA </span></p>
            <p>Site created by <a href='https://portfolio-arianna-ordona.herokuapp.com' target='_blank'>Arianna Ordona</a></p>
        </div>
        
    </body>
</html>