<% include partials/header-spanish %>
<link rel='stylesheet' href='/stylesheets/about.css'>
    
    <div class="embed-responsive embed-responsive-21by9 top">
        <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/ABUYlotv1iw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    
    <div class='container-fluid no-padding'>
        <div class='row no-gutters'>
            <div class='item col-12 w-100 height-300'>
                <div class='carousel-caption mission-vision'>
                    <td><h1 class='display-3'>Estado de la Visión</h1></td>
                    <p>El propósito y visión de FERIA Asociación / Colaboración Conferencia Anual es e empoderar a las familias Latinas ofreciendoles conocimiento para que precisamente lleve apoyó a sus hijos con necesidades especiales desde el momento de su nacimiento hast edad universitaria, y su vida adulta. También asistir con capacitación para alcanzar s potencial máximo atraves de aprendizage en un hogar receptivo cultural y linguísticamente Colaboración de la escuela y la comunidad en el Condado de San Diego, incluyendo escuelas preparatorias, estudiantes de liderazgo /auto abogacía y la rama profesional.</p>
                    <p><strong>Lema: “Construyendo Padres Latinos y Liderazco Estudiantil”</strong></p>
                </div>
            </div>
        </div>
        <div class='row no-gutters'>
            <div class='item col-12 w-100 height-300'>
                <div class='carousel-caption mission-vision'>
                    <td><h1 class='display-3'>Estado de la Mision</h1></td>
                    <p>La mison del la Conferencia FERIA asociada con el hogar, la escuela y los colaboradores de la comunidad ofrecen un ambiente receptivo receptivo cultural y linguisticamente que cre un ambiente de aprendizaje desarrollado po voces de familias Latinas. Profesionales padres de familia aprenderan sobre programa basados en evidencias, estrategias literaria en casa / escuela, agencias, organizaciones servicio de la comunidad local. Identificar recursos que apoyen el desarrollo social emocional y academico de sus hijos los cuale resultaran en fomentar el exito estudiantil qu prepare a las personas con necesidade especiales a ser miembros de la comunida que contribuyan y sean participantes exitoso no solo en nuestras comunidades locales sin globales.</p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class='container-fluid no-padding'>
        <!--<div class='row no-gutters'>-->
        <!--    <div class='item col-12 w-100 height-100'>-->
        <!--        <div class='carousel-caption'>-->
        <!--            <td><h1 class='display-3 team'>Meet Our Team</h1></td>-->
        <!--        </div>-->
        <!--    </div>-->
        <!--</div>-->
        <div class='row no-gutters'>
            <div class='item col-12 w-100 height-100'>
                <div class='carousel-caption'>
                    <td><h1 class='display-3 team'>Senior Founders</h1></td>
                </div>
            </div>
        </div>
        <div class='row no-gutters d-flex justify-content-center'>
            <div class='item col-sm-12 col-md-6 col-lg-4 height-300 team-img'>
                <div class='carousel-caption'>
                    <img src='/images/team/becki.png' class='img-thumbnail' alt=''>
                    <div class='caption'>
                        <p><strong>Dr. Rebecca Sapien-Melchor</strong></p>
                        <ul class='titles'>
                            <li>Executive Director Thrive Academy</li>
                            <li>Building Lives for Better Future</li>
                            <li>Parent & Conference Coordinator</li>
                            <li>FERIA Planning Committee</li>
                            <li>La Voz de Padres</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class='item col-sm-12 col-md-6 col-lg-4 height-300 team-img'>
                <div class='carousel-caption'>
                    <img src='/images/team/jose.png' class='img-thumbnail' alt=''>
                    <div class='caption'>
                        <p><strong>Jose Melchor</strong></p>
                        <p>Retired School Administrator, Parent</p>
                        <p>FERIA Community Outreach</p>
                    </div>
                </div>
            </div>
        </div>
        <div class='row no-gutters d-flex justify-content-center'>
            <div class='item col-12 w-100 height-100'>
                <div class='carousel-caption'>
                    <td><h1 class='display-3 team'>Co-Founders</h1></td>
                </div>
            </div>
        </div>
        <div class='row no-gutters d-flex justify-content-center'>
            <div class='item col-sm-12 col-md-4 height-300 team-img'>
                <div class='carousel-caption'>
                    <img src='/images/team/elizabeth.png' class='img-thumbnail' alt=''>
                    <div class='caption'>
                        <p><strong>María Elizabeth Arce-García</strong></p>
                        <p>Teacher, Chula Vista Elementary School District (CVESD)</p>
                    </div>
                </div>
            </div>
            <div class='item col-sm-12 col-md-4 height-300 team-img'>
                <div class='carousel-caption'>
                    <img src='/images/team/patti.png' class='img-thumbnail' alt=''>
                    <div class='caption'>
                        <p><strong>Patricia Flores-Charter</strong></p>
                        <p>Southwestern Community College</p>
                        <p>Retired Director, Disability Support Services</p>
                    </div>
                </div>
            </div>
            <div class='item col-sm-12 col-md-4 height-300 team-img'>
                <div class='carousel-caption'>
                    <img src='/images/team/annegraves.png' class='img-thumbnail' alt=''>
                    <div class='caption'>
                        <p><strong>Dr. Anne Graves, Ph.D.</strong></p>
                        <p>Professor, Department of Special Education</p>
                        <p>College of Education, San Diego State University (SDSU)</p>
                    </div>
                </div>
            </div>
            <div class='item col-sm-12 col-md-4 height-300 team-img'>
                <div class='carousel-caption'>
                    <img src='/images/team/angie.png' class='img-thumbnail' alt=''>
                    <div class='caption'>
                        <p><strong>Dr. Angie Hawkins</strong></p>
                        <p>Past Governor, Southern California Optimist Clubs</p>
                    </div>
                </div>
            </div>
            <div class='item col-sm-12 col-md-4 height-300 team-img'>
                <div class='carousel-caption'>
                    <img src='/images/team/raquel.png' class='img-thumbnail' alt=''>
                    <div class='caption'>
                        <p><strong>Raquel Arce-Vasquez</strong></p>
                        <p>SDSU Research Foundation & EFRC</p>
                        <p>Promotora / Outreach Services</p>
                    </div>
                </div>
            </div>
            <div class='item col-sm-12 col-md-4 height-300 team-img'>
                <div class='carousel-caption'>
                    <img src='/images/team/manuela.png' class='img-thumbnail' alt=''>
                    <div class='caption'>
                        <p><strong>Manuela B. Valdez</strong></p>
                        <p>Special Education Parent Facilitator</p>
                        <p>San Diego Unified School District</p>
                    </div>
                </div>
            </div>
        </div>
        <div class='row no-gutters d-flex justify-content-center'>
            <div class='item col-12 w-100 height-100'>
                <div class='carousel-caption'>
                    <td><h1 class='display-3 team'>Advisory</h1></td>
                </div>
            </div>
        </div>
        <div class='row no-gutters d-flex justify-content-center'>
            <div class='item col-sm-12 col-md-6 col-lg-4 height-300 team-img'>
                <div class='carousel-caption'>
                    <img src='/images/team/ochoa.png' class='img-thumbnail' alt=''>
                    <div class='caption'>
                        <p><strong>Dr. Alberto Ochoa</strong></p>
                        <p>Professor Emeritus at San Diego State University (SDSU)</p>
                    </div>
                </div>
            </div>
            <div class='item col-sm-12 col-md-6 col-lg-4 height-300 team-img'>
                <div class='carousel-caption'>
                    <img src='/images/team/carmen.png' class='img-thumbnail' alt=''>
                    <div class='caption'>
                        <p><strong>Carmen Russian</strong></p>
                        <p>Executive Director</p>
                        <p>Parent Institute of Quality of Education (PIQE)</p>
                    </div>
                </div>
            </div>
            <div class='item col-sm-12 col-md-6 col-lg-4 height-300 team-img'>
                <div class='carousel-caption'>
                    <img src='/images/team/michelle.png' class='img-thumbnail' alt=''>
                    <div class='caption'>
                        <p><strong>Michelle Sturm-Gonzalez</strong></p>
                        <p>Director of Special Education</p>
                        <p>Sweetwater Union High School District (SUHSD)</p>
                    </div>
                </div>
            </div>
            <div class='item col-sm-12 col-md-6 col-lg-4 height-300 team-img'>
                <div class='carousel-caption'>
                    <img src='/images/team/escobedo.png' class='img-thumbnail' alt=''>
                    <div class='caption'>
                        <p><strong>Dr. Francisco Escobedo</strong></p>
                        <p>Superintendent, Chula Vista Elementary School District (CVESD)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class='row no-gutters d-flex justify-content-center'>
            <div class='item col-12 w-100 height-100'>
                <div class='carousel-caption'>
                    <td><h1 class='display-3 team'>Conference Program Assistants</h1></td>
                </div>
            </div>
        </div>
        <div class='row no-gutters d-flex justify-content-center'>
            <div class='item col-sm-12 col-md-6 col-lg-4 height-300 team-img'>
                <div class='carousel-caption'>
                    <img src='/images/team/arianna.png' class='img-thumbnail' alt=''>
                    <div class='caption'>
                        <p><strong>Arianna Ordona</strong></p>
                        <p>DSS FERIA Partnership Conference Assistant</p>
                        <p>Program & Web Developer</p>
                    </div>
                </div>
            </div>
            <div class='item col-sm-12 col-md-6 col-lg-4 height-300 team-img'>
                <div class='carousel-caption'>
                    <img src='' class='img-thumbnail' alt=''>
                    <div class='caption'>
                        <p><strong>Mónica Rodríguez</strong></p>
                        <p>Southwestern College: Disability Support Services</p>
                    </div>
                </div>
            </div>
            <div class='item col-sm-12 col-md-6 col-lg-4 height-300 team-img'>
                <div class='carousel-caption'>
                    <img src='' class='img-thumbnail' alt=''>
                    <div class='caption'>
                        <p><strong>Paloma Macias</strong></p>
                        <p>DSS FERIA Partnership Conference Assistant</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class='container-fluid no-padding'>
        <div class='row no-gutters'>
            <div class='item col-12 w-100'>
                <img src='/images/team/group-picture.png' class='img-fluid w-100' alt=''>
            </div>
        </div>
    </div>
    
<% include partials/footer-spanish %>