<% include partials/header-top %>
    <meta name='description' content='FERIA Partnership Annual Conference is to empower Latino families and provide them the knowledge to effectively support their children with special needs from cradle to college to adult life as well as to assist them in attaining their optimal learning potential through a culturally and linguistically responsive home, school and community collaborative in San Diego county, including a high school student leadership/self advocacy and professional strand.'>
    <meta name='keywords' content='feria, feria partnership, feria partnership conference, disability, disability support services, san diego mission, nonprofits in san diego, literacy strategies, resources, san diego charities, agencies, student success, latino, college, leadership, san diego regional center, exceptional family resource center, south western college, foundation for developmental disabilities'>
    <title>FERIA | Contact Us</title>
</head>
<% if(spanish){ %>
    <% include partials/header-spanish %>
<% }else{ %>
    <% include partials/header %>
<% } %>
<link rel='stylesheet' href='/stylesheets/about.css'>
<div class='container-fluid no-padding top'>
    <div class='row no-gutters d-flex justify-content-center align-items-center'>
        <div class='item col-10'>
            <form action='/contact' id='contact' method='POST'>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for='fullName'>
                            <% if(spanish){ %>
                                Nombre completo
                            <% }else{ %>
                                Full Name
                            <% } %>
                        </label>
                        <input type="text" class="form-control" name ='fullName' id='fullName' placeholder="Full Name" required>
                        <div class='invalid-feedback'>
                            <% if(spanish){ %>
                                Por favor, escriba su nombre
                            <% }else{ %>
                                Please enter your name
                            <% } %>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for='email'>
                            <% if(spanish){ %>
                                Dirección de correo electrónico
                            <% }else{ %>
                                Email Address
                            <% } %>
                        </label>
                        <input type="email" class="form-control" name ='email' id='email' placeholder="Email" required>
                        <div class='invalid-feedback'>
                            <% if(spanish){ %>
                                Por favor proporcione un correo electrónico válido para que podamos contactarlo
                            <% }else{ %>
                                Please provide a valid email so we can contact you
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for='subject'>
                            <% if(spanish){ %>
                                Tema
                            <% }else{ %>
                                Subject
                            <% } %>
                        </label>
                        <input type="text" class="form-control" name='subject' id='subject' placeholder="Subject" required>
                        <div class='invalid-feedback'>
                            <% if(spanish){ %>
                                Ingrese un tema
                            <% }else{ %>
                                Enter a subject
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class='form-row'>
                    <div class='col-md-8 mb-3'>
                        <div class="form-group">
                            <label for="message">
                                <% if(spanish){ %>
                                    Mensaje
                                <% }else{ %>
                                    Message
                                <% } %>
                            </label>
                            <textarea class="form-control" name='message' id="message" rows="3" required></textarea>
                            <div class='invalid-feedback'>
                                <% if(spanish){ %>
                                    Ingrese su mensaje
                                <% }else{ %>
                                    Enter your message
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='form-group submit'>
                    <button class='btn btn-primary btn-sm' id='btnSubmit' type='submit'>
                        <% if(spanish){ %>
                            Enviar
                        <% }else{ %>
                            Submit
                        <% } %>
                    </button>
                </div>
            </form>
            <script>
                $("#btnSubmit").click(function(event) {
                    // Fetch form to apply custom Bootstrap validation
                    var form = $("#contact")
                    if (form[0].checkValidity() === false) {
                        event.preventDefault()
                        event.stopPropagation()
                    }
                    form.addClass('was-validated');
                    // Perform ajax submit here...
                });
            </script>
        </div>
    </div>
    <div class='row no-gutters d-flex justify-content-center align-items-center'>
        <div class='item col-10'>
            <div class='big'>
                Support Groups
            </div>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th class='w-25' scope="col">Organization and Address</th>
                  <th class='w-25' scope="col">Contact, Telephone and Email</th>
                  <th class='w-50' scope="col">Description of Services</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td><a href='https://www.disabilityrightsca.org/' target='_blank'><strong>Disability Rights of California</a></strong>
                        <p>1111 6th Ave, Suite 200, San Diego CA 92101</p>
                    </td>
                    <td><strong>Raymong Kwong</strong>
                        <p>(619) 814-8514</p>
                        <a href='mailto:raymond.kwong@disabilityrightsca.org'>raymond.kwong@disabilityrightsca.org</a>
                    </td>
                    <td>Disability Rights of California is a non-profit agency that provides free legal services and advocacy to people with disabilities throughout California.</td>
                </tr>
                <tr>
                    <td><a href='https://www.dor.ca.gov/' target='_blank'><strong>Department of Rehabilitation</strong></a>
                        <p>7575 Metropolitan Dr, San Diego CA 92108</p>
                    </td>
                    <td><strong>Maria Bettina Puga</strong>
                        <p>(619) 767-2109</p>
                        <a href='mailto:maria.puga@dor.ca.gov'>maria.puga@dor.ca.gov</a>
                    </td>
                    <td>Assist participants to gain post-secondary education and jobs.</td>
                </tr>
                <tr>
                    <td><a href='http://dsasdonline.org' target='_blank'><strong>Down Syndrome Association of San Diego</strong></a>
                        <p>9245 Sky Park Court, Suite 130, San Diego, CA 92123</p>
                    </td>
                    <td><strong>Amy Baker</strong>
                        <p>(619) 594-7389</p>
                        <p>Fax: (858) 268-4275</p>
                        <a href='mailto:dsasd@mail.sdsu.edu'>dsasd@mail.sdsu.edu</a>
                    </td>
                    <td>DSA offers support information and resources to families of children with down syndrome in San Diego and Imperial Counties.</td>
                </tr>
                <tr>
                    <td><a href='http://efrconline.org' target='_blank'><strong>Exceptional Family Resource Center</strong></a>
                        <p>9245 Sky Park Court, Suite 130, San Diego CA, 92123</p>
                    </td>
                    <td><strong>Lupe Rojas-Sanchez</strong>
                        <p>(619) 594-7416</p>
                        <p>Fax: (858) 268-4275</p>
                        <a href='mailto:efrc@sdsu.edu'>efrc@sdsu.edu</a>
                    </td>
                    <td>EFRC provides support information, resources and referral services to families of children with special needs across the life span on San Diego and Imperial Counties.</td>
                </tr>
                <tr>
                    <td><a href='http://www.guidinghands.org' target='_blank'><strong>Home of Guiding Hands</strong></a>
                        <p>1908 Friendship Dr, El Cajon CA 92020</p>
                    </td>
                    <td><strong>Wendy Smith</strong>
                        <p>(619) 938-2850</p>
                        <p>Fax:(619) 938-3050</p>
                        <a href='mailto:wendy@guidinghands.org'>wendy@guidinghands.org</a>
                    </td>
                    <td>HGH provides dynamic spectrum of individuals and families with developmental disabilities. In addition to operating 31 community-based group homes, HGH offers individual, sibling and family therapy, AFHA (Adult Family Home Agency), respite care, life planning, early childhood development, and independent living services in San Diego. Imperial County services include respite and early child hood services.</td>
                </tr>
                <tr>
                    <td><strong>FERIA Partnership La Voz de Padres Latinos</strong></td>
                    <td><strong>Elizabeth Arce-Garcia</strong>
                        <p>(619) 770-0203</p>
                        <a href='mailto:elyarce8@gmail.com'>elyarce8@gmail.com</a>
                        <p><strong>Karina Padilla</strong></p>
                        <p>(619) 632-2335</p>
                        <a href='mailto:karymuleje@gmail.com'>karymuleje@gmail.com</a>
                    </td>
                </tr>
                <tr>
                    <td><a href='https://www.optimist.org/' target='_blank'><strong>Optimist International</strong></a>
                        <p>1625 Yale St, Chula Vista CA 91913</p>
                    </td>
                    <td><strong>Angela Hawkins</strong>
                        <p>(619) 253-2168</p>
                        <a href='mailto:drhawk@cox.net'>drhawk@cox.net</a>
                    </td>
                    <td>Community Service organization bringing out the best in kids. Scholarships, awards, and volunteer work.</td>
                </tr>
                <tr>
                    <td><a href='https://www.sdrc.org/' target='_blank'><strong>San Diego Regional Center</strong></a>
                        <p>4355 Ruffin Road, Suite 104, San Diego CA 92123</p>
                    </td>
                    <td><strong>Nicole Collins</strong>
                        <p>(858) 496-4351</p>
                        <a href='mailto:nicole.collins@sdrc.org'>nicole.collins@sdrc.org</a>
                    </td>
                    <td>To serve and empower persons with developmental disabilities and their families to achieve their goals with community partners.</td>
                </tr>
                <tr>
                    <td><a href='https://www.ssa.gov/' target='_blank'><strong>Social Security Administration</strong></a>
                        <p>1333 Front St, San Diego CA 92101</p>
                    </td>
                    <td><strong>Michael Kojis</strong>
                        <p>(855) 820-0100x24059</p>
                        <p>Fax:(619) 557-5579</p>
                        <a href='mailto:michael.kojis@ssa.gov'>michael.kojis@ssa.gov</a>
                    </td>
                    <td>Administration of disability benefits. Application of work incentives to encourage effort to become self-supporting. Disbursement of Financial Aid through PASS program – funding for school and or self-employment.</td>
                </tr>
                <tr>
                    <td><a href='https://scdd.ca.gov/' target='_blank'><strong>State Council on Developmental Disabilities San Diego Imperial Office</strong></a>
                        <p>8880 Rio San Diego Dr, Suite 250 San Diego, CA 92108</p>
                    </td>
                    <td><strong>Debbie Marshall</strong>
                        <p>Community Program Specialist</p>
                        <p>(619) 688-4236</p>
                        <p>Fax:(619) 688-4236</p>
                        <a href='mailto:debbie.marshall@scdd.ca.gov'>debbie.marshall@scdd.ca.gov</a>
                    </td>
                    <td>State Council on Developmental Disabilities monitors the legal, civil, and service rights of individuals with developmental disabilities and their families through empowerment, advocacy, education, and training.</td>
                </tr>
                <tr>
                    <td><a href='https://www.s4ea.org/' target='_blank'><strong>Sports for Exceptional Athletes</strong></a>
                        <p>9575 Aero Drive # B, San Diego CA 92123</p>
                    </td>
                    <td><strong>Clara Downes</strong>
                        <p>(858) 565-7432</p>
                        <p>Fax:(858) 565-7431</p>
                        <a href='mailto:clara@s4ea.org'>clara@s4ea.org</a>
                    </td>
                    <td>S4EA is a community based sports program serving athletes with developmental disabilities ages 5 through adult in San Diego County. The purpose of SPORTS for Exceptional Athletes is to create enhanced opportunities for people with and without disabilities to interact and form lasting bonds of friendship through shared sports and recreational activities in the community.</td>
                </tr>
                <tr>
                    <td><a href='https://taskca.org/' target='_blank'><strong>Team of Advocates for Special Kids INC</strong></a>
                        <p>3180 University Ave Ste. 615 San Diego CA 92104</p>
                    </td>
                    <td><strong>Beatriz Mendez Moore</strong>
                        <p>(619) 282-0846</p>
                        <p>Fax:(619) 624-9753</p>
                        <a href='mailto:beatrizm@taskca.org'>beatrizm@taskca.org</a>
                    </td>
                    <td>Task is a nonprofit organization that educates and empower people with disabilities and their families. We help families understand the special education process. We promote cooperation between families in our schools. In our TECH centers, we help families explore assistive technology and options for learning, communicating and living their best lives.</td>
                </tr>
                <tr>
                    <td><a href='https://www.arc-sd.com/' target='_blank'><strong>The Arc of San Diego</strong></a>
                        <p>3030 Market St, San Diego CA 92102</p>
                    </td>
                    <td><strong>Michael Mather</strong>
                        <p>(619) 685-1175</p>
                        <p>Fax:(619) 234-3759</p>
                        <a href='mailto:mmather@arc-sd.com'>mmather@arc-sd.com</a>
                    </td>
                    <td>The Arc of San Diego supports and empowers persons with disabilities to achieve their life goals.</td>
                </tr>
                <tr>
                    <td><a href='https://www.ucpsd.org/' target='_blank'><strong>United Cerebral Palsy of San Diego</strong></a>
                        <p>8525 Gibbs Dr, Suite 100, San Diego CA 92123</p>
                    </td>
                    <td><strong>Maiko Yoshida</strong>
                        <p>(858) 278-5420 ext .121</p>
                        <p>Fax:(619) 282-5133</p>
                    </td>
                    <td>UCP works with children and adults with ALL types of disabilities. We have a mobile toy lending library, an  assistive technology devise lending library, respite services, weave live classes, tailored day college services, and can conduct speech generating devise evaluations (for a fee).</td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
</div>

<% if(spanish){ %>
    <% include partials/footer-spanish %>
<% }else{ %>
    <% include partials/footer %>
<% } %>