<% include partials/header-top %>
    <meta name='description' content='FERIA Partnership Annual Conference is to empower Latino families and provide them the knowledge to effectively support their children with special needs from cradle to college to adult life as well as to assist them in attaining their optimal learning potential through a culturally and linguistically responsive home, school and community collaborative in San Diego county, including a high school student leadership/self advocacy and professional strand.'>
    <meta name='keywords' content='feria, feria partnership, feria partnership conference, disability, disability support services, san diego mission, nonprofits in san diego, literacy strategies, resources, san diego charities, agencies, student success, latino, college, leadership, san diego regional center, exceptional family resource center, south western college, foundation for developmental disabilities'>
    <title>FERIA | Contact Us</title>
</head>
<% if(spanish){ %>
    <% include partials/header-spanish %>
<% }else{ %>
    <% include partials/header %>
<% } %>
<div class='box'>
    <div class='white'>
        <div class='container-fluid no-padding top'>
            <div class='row no-gutters d-flex justify-content-center align-items-center'>
                <div class='item col-10'>
                    <% if(spanish){ %>
                        <div class='big'>
                            Directorio
                        </div>
                        <hr>
                        <div class='small'>
                            <div class='item col-6'>
                                Senior Founders
                            </div>
                        </div>
                        <div class='big'>
                            Cuéntanos tus pensamientos
                        </div>
                    <% }else{ %>
                        <div class='big'>
                            Directory
                        </div>
                        <hr>
                        <div class='row no-gutters'>
                            <div class='item col-sm-12 col-md-6'>
                                <h2>Senior Founders</h2>
                                <p>
                                    <strong>Dr. Rebecca Sapien-Melchor</strong>
                                    <br>
                                    <em>Executive Director Thrive Academy</em>
                                    <br>
                                    <em>Building Lives for Better Future (BLBF), Parent</em>
                                </p>
                                <p>
                                    <strong>Jose M. Melchor</strong>
                                    <br>
                                    <em>Retired School Administrator, Parent</em>
                                </p>
                                <h2>Co-Founders</h2>
                                <p>
                                    <strong>María Elizabeth Arce-García</strong>
                                    <br>
                                    <em>Teacher, Chula Vista Elementary School District (CVESD)</em>
                                </p>
                                <p>
                                    <strong>Patricia Flores-Charter</strong>
                                    <br>
                                    <em>Southwestern Community College</em>
                                    <br>
                                    <em>Director, Disability Support Services</em>
                                </p>
                                <p>
                                    <strong>Dr. Anne Graves, Ph.D.</strong>
                                    <br>
                                    <em>Professor, Department of Special Education</em>
                                    <br>
                                    <em>College of Education, San Diego State University (SDSU)</em>
                                </p>
                                <p>
                                    <strong>Dr. Angie Hawkins</strong>
                                    <br>
                                    <em>Past Governor, Southern California Optimist Clubs</em>
                                </p>
                                <p>
                                    <strong>Raquel Arce-Vasquez</strong>
                                    <br>
                                    <em>SDSU Research Foundation & EFRC</em>
                                    <br>
                                    <em>Promotora / Outreach Services</em>
                                </p>
                                <p>
                                    <strong>Manuela B. Valdez</strong>
                                    <br>
                                    <em>Special Education Parent Facilitator</em>
                                    <br>
                                    <em>San Diego Unified School District</em>
                                </p>
                            </div>
                            <div class='item col-sm-12 col-md-5 offset-md-1'>
                                <h2>Advisory</h2>
                                <p>
                                    <strong>Dr. Alberto Ochoa</strong>
                                    <br>
                                    <em>Professor Emeritus at San Diego State University (SDSU)</em>
                                </p>
                                <p>
                                    <strong>Carmen Russian</strong>
                                    <br>
                                    <em>Executive Director, PIQE</em>
                                    <br>
                                    <em>Parent Institute of Quality of Education (PIQE)</em>
                                </p>
                                <p>
                                    <strong>Michelle Sturm-Gonzalez</strong>
                                    <br>
                                    <em>Director of Special Education</em>
                                    <br>
                                    <em>Sweetwater Union High School District (SUHSD)</em>
                                </p>
                                <p>
                                    <strong>Dr. Francisco Escobedo</strong>
                                    <br>
                                    <em>Superintendent, Chula Vista Elementary School District (CVESD)</em>
                                </p>
                                <img src='/images/team/group-picture.jpg' class='img-fluid w-100' alt=''>
                            </div>
                        </div>
                        <div class='big'>
                            Tell us your thoughts
                        </div>
                    <% } %>
                    <hr>
                    <form action='/contact' id='contact' method='POST'>
                        <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for='fullName'>
                                <% if(spanish){ %>
                                    Nombre completo
                                <% }else{ %>
                                    Full Name
                                <% } %>
                            </label>
                            <input type="text" class="form-control" name ='fullName' id='fullName' placeholder="Full Name" required>
                            <div class='invalid-feedback'>
                                <% if(spanish){ %>
                                    Por favor, escriba su nombre
                                <% }else{ %>
                                    Please enter your name
                                <% } %>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for='email'>
                                <% if(spanish){ %>
                                    Dirección de correo electrónico
                                <% }else{ %>
                                    Email Address
                                <% } %>
                            </label>
                            <input type="email" class="form-control" name ='email' id='email' placeholder="Email" required>
                            <div class='invalid-feedback'>
                                <% if(spanish){ %>
                                    Por favor proporcione un correo electrónico válido para que podamos contactarlo
                                <% }else{ %>
                                    Please provide a valid email so we can contact you
                                <% } %>
                            </div>
                        </div>
                    </div>
                        <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for='subject'>
                                <% if(spanish){ %>
                                    Tema
                                <% }else{ %>
                                    Subject
                                <% } %>
                            </label>
                            <input type="text" class="form-control" name='subject' id='subject' placeholder="Subject" required>
                            <div class='invalid-feedback'>
                                <% if(spanish){ %>
                                    Ingrese un tema
                                <% }else{ %>
                                    Enter a subject
                                <% } %>
                            </div>
                        </div>
                    </div>
                        <div class='form-row'>
                        <div class='col-md-8 mb-3'>
                            <div class="form-group">
                                <label for="message">
                                    <% if(spanish){ %>
                                        Mensaje
                                    <% }else{ %>
                                        Message
                                    <% } %>
                                </label>
                                <textarea class="form-control" name='message' id="message" rows="3" required></textarea>
                                <div class='invalid-feedback'>
                                    <% if(spanish){ %>
                                        Ingrese su mensaje
                                    <% }else{ %>
                                        Enter your message
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class='form-group submit'>
                        <button class='btn btn-primary btn-sm' id='btnSubmit' type='submit'>
                            <% if(spanish){ %>
                                Enviar
                            <% }else{ %>
                                Submit
                            <% } %>
                        </button>
                    </div>
                    </form>
                    <script>
                    $("#btnSubmit").click(function(event) {
                        // Fetch form to apply custom Bootstrap validation
                        var form = $("#contact")
                        if (form[0].checkValidity() === false) {
                            event.preventDefault()
                            event.stopPropagation()
                        }
                        form.addClass('was-validated');
                        // Perform ajax submit here...
                    });
                </script>
                </div>
            </div>
        </div>
    </div>
</div>
<% if(spanish){ %>
    <% include partials/footer-spanish %>
<% }else{ %>
    <% include partials/footer %>
<% } %>