<% include partials/header-top %>
    <meta name='description' content='FERIA Partnership Annual Conference is to empower Latino families and provide them the knowledge to effectively support their children with special needs from cradle to college to adult life as well as to assist them in attaining their optimal learning potential through a culturally and linguistically responsive home, school and community collaborative in San Diego county, including a high school student leadership/self advocacy and professional strand.'>
    <meta name='keywords' content='feria, feria partnership, feria partnership conference, disability, disability support services, san diego mission, nonprofits in san diego, literacy strategies, resources, san diego charities, agencies, student success, latino, college, leadership, san diego regional center, exceptional family resource center, south western college, foundation for developmental disabilities'>
    <title>FERIA | Page Still in Development</title>
<% include partials/header %>
<link rel='stylesheet' href='/stylesheets/development.css'>
<div class='container gif dev'>
    <div class='row no-gutters'>
        <div class='item col-12 w-100'>
            <iframe src="https://giphy.com/embed/3o7qE1YN7aBOFPRw8E" frameBorder="0"></iframe>
            <p>This area is still in development, sorry for the inconvenience.</p>
            <p>-Arianna</p>
            <p>
                <a href="https://giphy.com/gifs/vr-bigblueboo-rescuties-3o7qE1YN7aBOFPRw8E">via GIPHY</a>
            </p>
        </div>
    </div>
</div>
<% include partials/footer %>