<% include partials/header %>
<link rel='stylesheet' href='/stylesheets/development.css'>
<div class='container gif dev'>
    <div class='row no-gutters'>
        <div class='item col-12 w-100'>
            <iframe src="https://giphy.com/embed/3o7qE1YN7aBOFPRw8E" frameBorder="0"></iframe>
            <p>This area is still in development, sorry for the inconvenience.</p>
            <p>-Arianna</p>
            <p>
                <a href="https://giphy.com/gifs/vr-bigblueboo-rescuties-3o7qE1YN7aBOFPRw8E">via GIPHY</a>
            </p>
        </div>
    </div>
</div>
<% include partials/footer %>