<% include partials/header-top %>
    <meta name='description' content='FERIA Partnership Annual Conference is to empower Latino families and provide them the knowledge to effectively support their children with special needs from cradle to college to adult life as well as to assist them in attaining their optimal learning potential through a culturally and linguistically responsive home, school and community collaborative in San Diego county, including a high school student leadership/self advocacy and professional strand.'>
    <meta name='keywords' content='feria, feria partnership, feria partnership conference, disability, disability support services, san diego mission, nonprofits in san diego, literacy strategies, resources, san diego charities, agencies, student success, latino, college, leadership, san diego regional center, exceptional family resource center, south western college, foundation for developmental disabilities'>
    <title>FERIA Community Events | San Diego</title>
</head>
<% if(spanish){ %>
    <% include partials/header-spanish %>
<% }else{ %>
    <% include partials/header %>
<% } %>
<link rel='stylesheet' href='/stylesheets/events.css'>
<div class='box'>
    <div class='container-fluid no-padding top'>
        <div class='row no-gutters'>
            <div class='item col-12 width events'>
                <div class='carousel-caption'>
                    <p class='big'>
                        <% if(spanish){ %>
                            Próximos Eventos
                        <% }else{ %>
                            Upcoming Events
                        <% } %>
                        </p>
                    <hr>
                    <ul class='small'>
                        <li>
                            <a href='/events/feria-5'><span class='event'>5th Annual FERIA Partnership Conference</span></a>
                            <p class='date'>Sat, Nov 9, 2019, 8 AM - 3:30 PM (PST)</p>
                            <% if(spanish){ %>
                                <a href='/events/feria-5-spanish'><button type='button' class='btn btn-lg'>
                                registro
                            <% }else{ %>
                                <a href='/events/feria-5'><button type='button' class='btn btn-lg'>
                                Register
                            <% } %>
                            </button></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class='row no-gutters collage'>
            <div class='item col-3 width'>
                <img src='/images/FERIA-conference/4/img0001.jpg' class='img-fluid width' alt=''>
            </div>
            <div class='item col-3 width'>
                <img src='/images/FERIA-conference/4/img0002.jpg' class='img-fluid width' alt=''>
            </div>
            <div class='item col-3 width'>
                <img src='/images/FERIA-conference/4/img0004.jpg' class='img-fluid width' alt=''>
            </div>
            <div class='item col-3 width'>
                <img src='/images/FERIA-conference/4/img0005.jpg' class='img-fluid width' alt=''>
            </div>
        </div>
        <div class='row no-gutters'>
            <div class='item col-12 width events events-past'>
                <div class='carousel-caption'>
                    <p class='big'>Past Events</p>
                    <hr>
                    <ul class='small'>
                        <% if(spanish){ %>
                            <li>
                                <a href='/events/feria-4-spanish' target='_blank'><span class='event'>4ta. Conferencia Anual Asociación FERIA de San Diego, 2018</span></a>
                                <p>Iluminando el Camino al Exito y al Bienestar</p>
                            </li>
                            <li>
                                <a href='/docs/FERIA-conference/3rd-program.pdf' target='_blank'><span class='event'>3ra. Conferencia Anual Asociación FERIA de San Diego, 2017</span></a>
                                <p>"The Voices of Latino Families: Cultural Understanding + Inclusion + Quality Education = EMPOWERMENT"</p>
                            </li>
                            <li>
                                <a href='/docs/FERIA-conference/2nd-program.pdf' target='_blank'><span class='event'>2ª Conferencia Anual Asociación FERIA, 2016</span></a>
                                <p>Apoyando la Cultura y Lenguaje de las Familias Latinas: Construyendo Puentes Hacia el Futuro</p>
                            </li>
                            <li>
                                <a href='/docs/FERIA-conference/1st-program.pdf' target='_blank'><span class='event'>1st Annual FERIA Partnership Conference, 2015</span></a>
                                <p>Las Voces de la Familias Latinas: Dando Poder a Maestros, Familias, Niños y Jóvenes con Necesidades Especiales</p>
                            </li>
                        <% }else{ %>
                            <li>
                                <a href='/events/feria-4' target='_blank'><span class='event'>4th Annual FERIA Partnership Conference, 2018</span></a>
                                <p>Lighting the Pathway to Success and Wellness</p>
                            </li>
                            <li>
                                <a href='/docs/FERIA-conference/3rd-program.pdf' target='_blank'><span class='event'>3rd Annual FERIA Partnership Conference, 2017</span></a>
                                <p>"The Voices of Latino Families: Cultural Understanding + Inclusion + Quality Education = EMPOWERMENT"</p>
                            </li>
                            <li>
                                <a href='/docs/FERIA-conference/2nd-program.pdf' target='_blank'><span class='event'>2nd Annual FERIA Partnership Conference, 2016</span></a>
                                <p>Supporting Latino Families' Culture & Language: Building Bridges to the Future</p>
                            </li>
                            <li>
                                <a href='/docs/FERIA-conference/1st-program.pdf' target='_blank'><span class='event'>1st Annual FERIA Partnership Conference, 2015</span></a>
                                <p>The Voices of Latino Families: Empowering Educators, Families and Children-Youth with Special Needs</p>
                            </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
        <div class='row no-gutters collage'>
            <div class='item col-3 width'>
                <img src='/images/home/keynote.jpg' class='img-fluid width' alt=''>
            </div>
            <div class='item col-3 width'>
                <img src='/images/FERIA-conference/3/img0001.jpg' class='img-fluid width' alt=''>
            </div>
            <div class='item col-3 width'>
                <img src='/images/FERIA-conference/3/img0002.jpg' class='img-fluid width' alt=''>
            </div>
            <div class='item col-3 width'>
                <img src='/images/FERIA-conference/3/img0003.jpg' class='img-fluid width' alt=''>
            </div>
        </div>
    </div>
</div>
<% if(spanish){ %>
    <% include partials/footer-spanish %>
<% }else{ %>
    <% include partials/footer %>
<% } %>