<% include partials/header-top %>
    <meta name='description' content='FERIA Partnership Annual Conference is to empower Latino families and provide them the knowledge to effectively support their children with special needs from cradle to college to adult life as well as to assist them in attaining their optimal learning potential through a culturally and linguistically responsive home, school and community collaborative in San Diego county, including a high school student leadership/self advocacy and professional strand.'>
    <meta name='keywords' content='5th annual feria partnership conference, feria, feria partnership, feria partnership conference, disability, disability support services, san diego mission, nonprofits in san diego, literacy strategies, resources, san diego charities, agencies, student success, latino, college, leadership, san diego regional center, exceptional family resource center, south western college, foundation for developmental disabilities'>
    <title>FERIA | 5th Annual FERIA Partnership Conference</title>
</head>
<% if(spanish){ %>
    <% include partials/header-spanish %>
<% }else{ %>
    <% include partials/header %>
<% } %>
<link rel='stylesheet' href='/stylesheets/feria-5.css'>
<div class='container-fluid no-padding'>
  <div class='row no-gutters'>
    <div class='item col-12 width conference'>
      <div class='carousel-caption'>
        <% if(spanish){ %>
          <p class='big'>5th Conferencia Anual FERIA Asociación</p>
          <hr>
          <div class='small'>
            <p class='date'>Sábado, 9 de noviembre, 2019, 8:00 AM - 3:30 PM (PST)</p>
            <p>Theme: TBD</p>
            <div class="embed-responsive embed-responsive-21by9 top">
              <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/ABUYlotv1iw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <p class='top'>Our goal is to provide families in the South Bay and San Diego area with educational information to better support their children's education, mental health well-being and access to community resources.</p>
            <p>For this event, <strong>pre-registration</strong> is required and space is limited to 250 participants.</p>
            <p>The registration deadline is <strong>October 10, 2019</strong></p>
            <p>Registration fee includes a <strong>continental breakfast and lunch</strong></p>
            Before you register, please have the following information:
            <hr>
            <ul>
              <li>Registration is paid by?
                <p>Learn which one are you <a>here</a></p>
                <ul>
                  <li>San Diego Regional Center (SDRC)</li>
                  <li>Exceptional Family Resource Center (EFRC)</li>
                  <li>Special Education Local Plan Area (SELPA)</li>
                  <li>Chula Vista Elementary School District (CVESD)</li>
                  <li>San Diego Unified School District (SDUSH)</li>
                </ul>
                <p>If you are with SDRC, please know the name of your <strong>service coordinator</strong> and your <strong>child's ID number (UCID)</strong>
                Learn where to find this information <a>here</a>
                </p>
              </li>
              <li>Phone Number</li>
              <li>Valid Email
                <p>Learn how to make one <a>here</a></p>
              </li>
            </ul>
            <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
              <div class="card">
                <div class="card-header" role="tab" id="headingOne1">
                  <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1">
                    <h5 class="mb-0">
                      Programa de evento <i class="fas fa-angle-down rotate-icon"></i>
                    </h5>
                  </a>
                </div>
                <div id="collapseOne1" class="collapse" role="tabpanel" aria-labelledby="headingOne1"data-parent="#accordionEx">
                  <div class="card-body">
                    <table class='table'>
                      <thead>
                        <tr>
                          <th scope='col'>Hora</th>
                          <th scope='col'>Actividad</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>8:00 - 9:00 AM</td>
                          <td>Registro, FERIA de patrocinadores y desayuno continental</td>
                        </tr>
                        <tr>
                          <td>8:30 - 9:00 AM</td>
                          <td>Entretenimiento</td>
                        </tr>
                        <tr>
                          <td>9:00 - 10:00 AM</td>
                          <td>Sesión general</td>
                        </tr>
                        <tr>
                          <td>10:45 - 12:50 PM</td>
                          <td>Taller sesión I</td>
                        </tr>
                        <tr>
                          <td>12:00 - 12:50 PM</td>
                          <td>Almuerzo, entretenimiento musical-feria de patrocinadores</td>
                        </tr>
                        <tr>
                          <td>1:00 - 2:15 PM</td>
                          <td>Taller sesión II</td>
                        </tr>
                        <tr>
                          <td>2:30 - 3:30 PM</td>
                          <td>Clausura, comentarios / rifa</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingTwo2">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                    <h5 class="mb-0">
                      Ponente principal <i class="fas fa-angle-down rotate-icon"></i>
                    </h5>
                  </a>
                </div>
                <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2" data-parent="#accordionEx">
                  <div class="card-body">
                    TBD
                    <p>ver nuestro orador principal el año pasado <a href='/events/feria-4-spanish'>aquí</a></p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingThree3">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
                    <h5 class="mb-0">
                      Ofertas de conferencias <i class="fas fa-angle-down rotate-icon"></i>
                    </h5>
                  </a>
                </div>
                <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3" data-parent="#accordionEx">
                  <div class="card-body">
                    Talleres / Feria de recursos Diseñado para familias: nacimiento - Año adulto
                    <ul>
                      <li>Edad Temprana</li>
                      <li>Secudaria-Academica de Liderazgo Estudiantil</li>
                      <li>Linea de Adultos</li>
                      <li>Linea de Padres</li>
                      <li>Linea de Profesionales</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingFour4">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFour4" aria-expanded="false" aria-controls="collapseFour4">
                    <h5 class="mb-0">
                      Sponsored By <i class="fas fa-angle-down rotate-icon"></i>
                    </h5>
                  </a>
                </div>
                <div id="collapseFour4" class="collapse" role="tabpanel" aria-labelledby="headingFour4" data-parent="#accordionEx">
                  <div class="card-body">
                    <ul>
                          <li>Fundación de las Discapacidades de Desarrollo (FDD)</li>
                          <li>Southwestern Community College</li>
                          <li>Centro Regional de San Diego (SDRC)</li>
                          <li>La Voz de Padres: Optimista de Familias Especiales</li>
                          <li>Distrito Escolar Sweetwater Union</li>
                          <li>SELPA Condado Sur</li>
                          <li>Distrito Escolar Unificado de San Diego</li>
                          <li>Arc of San Diego</li>
                          <li>Centro Recursos para Familias Excepcionales</li>
                          <li>Departamento de Educación Especial de SDSU</li>
                          <li>Censejo Estatal para Discapacidades, San Diego, Oficina Valle Imperial</li>
                          <li>Instituto de Calidad Educativa de Padres (PIQE)</li>
                          <li>Salud Mental América</li>
                          <li>Distrito Escolar de Primarias de Chula Vista (CVESD)</li>
                          <li>Club de Optimista International</li>
                          <li>La Asociación de ABA</li>
                          <li>TASK</li>
                          <li>Contruyendo Vidas Para Mejores Futuros</li>
                        </ul>
                  </div>
                </div>
              </div>
            </div>
        <% }else{ %>
        <p class='big'>5th Annual FERIA Partnership Conference</p>
        <hr>
        <div class='small'>
          <p class='date'>Sat, Nov 9, 2019, 8 AM - 3:30 PM (PST)</p>
          <p>Theme: TBD</p>
          <div class="embed-responsive embed-responsive-21by9 top">
            <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/ABUYlotv1iw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <p class='top'>Our goal is to provide families in the South Bay and San Diego area with educational information to better support their children's education, mental health well-being and access to community resources.</p>
          <p>For this event, <strong>pre-registration</strong> is required and space is limited to 250 participants.</p>
          <p>The registration deadline is <strong>October 10, 2019</strong></p>
          <p>Registration fee includes a <strong>continental breakfast and lunch</strong></p>
          Before you register, please have the following information:
          <hr>
          <ul>
            <li>Registration is paid by?
              <p>Learn which one are you <a>here</a></p>
              <ul>
                <li>San Diego Regional Center (SDRC)</li>
                <li>Exceptional Family Resource Center (EFRC)</li>
                <li>Special Education Local Plan Area (SELPA)</li>
                <li>Chula Vista Elementary School District (CVESD)</li>
                <li>San Diego Unified School District (SDUSH)</li>
              </ul>
              <p>If you are with SDRC, please know the name of your <strong>service coordinator</strong> and your <strong>child's ID number (UCID)</strong>
              Learn where to find this information <a>here</a>
              </p>
            </li>
            <li>Phone Number</li>
            <li>Valid Email
              <p>Learn how to make one <a>here</a></p>
            </li>
          </ul>
          <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
            <div class="card">
              <div class="card-header" role="tab" id="headingOne1">
                <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1">
                  <h5 class="mb-0">
                    Event Schedule <i class="fas fa-angle-down rotate-icon"></i>
                  </h5>
                </a>
              </div>
              <div id="collapseOne1" class="collapse" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                <div class="card-body">
                  <table class='table'>
                    <thead>
                      <tr>
                        <th scope='col'>Time</th>
                        <th scope='col'>Activity</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>8:00 - 9:00 AM</td>
                        <td>Sign-in, Resource Fair & Continental Breakfast</td>
                      </tr>
                      <tr>
                        <td>8:30 - 9:00 AM</td>
                        <td>Entertainment</td>
                      </tr>
                      <tr>
                        <td>9:00 - 10:00 AM</td>
                        <td>General Session</td>
                      </tr>
                      <tr>
                        <td>10:45 - 12:50 PM</td>
                        <td>Workshop Session I</td>
                      </tr>
                      <tr>
                        <td>12:00 - 12:50 PM</td>
                        <td>Lunch, Entertainment, & Resource Fair</td>
                      </tr>
                      <tr>
                        <td>1:00 - 2:15 PM</td>
                        <td>Workshop Session II</td>
                      </tr>
                      <tr>
                        <td>2:30 - 3:30 PM</td>
                        <td>Closing Remarks/Raffle</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="headingTwo2">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                  <h5 class="mb-0">
                    Keynote Speaker <i class="fas fa-angle-down rotate-icon"></i>
                  </h5>
                </a>
              </div>
              <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2" data-parent="#accordionEx">
                <div class="card-body">
                  TBD
                  <p>View our last year's keynote speaker <a href='/events/feria-4'>here</a></p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="headingThree3">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
                  <h5 class="mb-0">
                    Conference Offerings <i class="fas fa-angle-down rotate-icon"></i>
                  </h5>
                </a>
              </div>
              <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3" data-parent="#accordionEx">
                <div class="card-body">
                  Workshops/Resource Fair Designed for Families: Birth - Adult Years
                  <ul>
                    <li>Early Years Strand</li>
                    <li>School Age Strand</li>
                    <li>Secondary - Student Leadership Academy</li>
                    <li>Adult Strand</li>
                    <li>Parent Strand</li>
                    <li>Professional Strand</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="headingFour4">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFour4" aria-expanded="false" aria-controls="collapseFour4">
                  <h5 class="mb-0">
                    Sponsored By <i class="fas fa-angle-down rotate-icon"></i>
                  </h5>
                </a>
              </div>
              <div id="collapseFour4" class="collapse" role="tabpanel" aria-labelledby="headingFour4" data-parent="#accordionEx">
                <div class="card-body">
                  <ul>
                    <li>Foundation of Developmental Disabilities (FDD)</li>
                    <li>Southwestern Community College</li>
                    <li>San Diego Regional Center (SDRC)</li>
                    <li>La Voz de Padres: Special Families Optimist International Club</li>
                    <li>Sweetwater Union High School District (SUHSD)</li>
                    <li>South County SELPA</li>
                    <li>Arc of San Diego</li>
                    <li>Exceptional Family Resource Center (EFRC)</li>
                    <li>The Department of Special Education SDSU</li>
                    <li>State Council on Development Disabilities</li>
                    <li>Parents Institute for Quality Education (PIQE)</li>
                    <li>Mental Health America</li>
                    <li>Chula Vista Elementary School District (CVESD)</li>
                    <li>Optimist International Club</li>
                    <li>ABA Association</li>
                    <li>TASK</li>
                    <li>Building Lives for Better Future</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
<% if(spanish){ %>
    <% include partials/footer-spanish %>
<% }else{ %>
    <% include partials/footer %>
<% } %>