<% include partials/header-top %>
    <meta name='description' content='FERIA Partnership Annual Conference is to empower Latino families and provide them the knowledge to effectively support their children with special needs from cradle to college to adult life as well as to assist them in attaining their optimal learning potential through a culturally and linguistically responsive home, school and community collaborative in San Diego county, including a high school student leadership/self advocacy and professional strand.'>
    <meta name='keywords' content='1st annual feria partnership conference, feria, feria partnership, feria partnership conference, disability, disability support services, san diego mission, nonprofits in san diego, literacy strategies, resources, san diego charities, agencies, student success, latino, college, leadership, san diego regional center, exceptional family resource center, south western college, foundation for developmental disabilities'>
    <title>FERIA | 1st Annual FERIA Partnership Conference</title>
</head>
<% if(spanish){ %>
    <% include partials/header-spanish %>
<% }else{ %>
    <% include partials/header %>
<% } %>
<link rel='stylesheet' href='/stylesheets/event-conferences.css'>
<link rel='stylesheet' href='/stylesheets/feria-2.css'>
<div class='box'>
  <div class='container-fluid no-padding'>
    <div class='row no-gutters'>
      <div class='item col-12 width conference'>
        <div class='carousel-caption'>
          <% if(spanish){ %>
            <p class='big'>1ª Conferencia Anual Asociación FERIA de San Diego</p>
            <hr>
            <div class='small'>
              <p class='date'>Sábado, 7 de noviembre, 2015, 8:00 AM - 3:00 PM (PST)</p>
              <p>“Las Voces de la Familias Latinas: Dando Poder a Maetros, Familias, Niños y Jóvenes con Necesidades Especiales”</p>
              <div class="embed-responsive embed-responsive-21by9 top">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/ABUYlotv1iw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <p class='top'>Our goal is to provide families in the South Bay and San Diego area with educational information to better support their children's education, mental health well-being and access to community resources.</p>
              <button class='btn'>
                <a href='/docs/FERIA-conference/2nd-program.pdf' target='_blank'>Event Program</a>
              </button>
              <hr>
              <div>
              <h5>Ponente principal</h5>
              <div class='row no-gutters'>
                <div class='item col-sm-12 col-md-6'>
                  <img src='/images/team/pedro-olvera.jpg' class='keynote rounded-circle'>
                </div>
                <div class='item col-sm-12 col-md-6 keynote-text'>
                  <h2>Dr. Pedro Olvera</h2>
                  LEP es un Profesor Asociado en el programa de Psicología Escolar de Azusa Pacific University (APU), Enseña cursos en el área de evaluación, la evaluación cognitiva, y la colaboración con las familias Latinas. Antes de enseñar en APU, era un psicólogo escolar bilingüe en Santa Ana, California.
                </div>
              </div>
            </div>
              <hr>
              <div>
                <p></p>Temas del taller
              <div class='item col-12'>
                <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                  <div class="card">
                  <div class="card-header" role="tab" id="headingOne1">
                    <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1">
                      Actividades que unen la alfabetización del hogar a la escuela <i class="fas fa-angle-down rotate-icon"></i>
                    </a>
                  </div>
                  <div id="collapseOne1" class="collapse" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                    <div class="card-body">
                      <p>En este taller padres/tutores aprenderán como integrar actividades, de la vida cotidiana, con el desarrollo del alfabetismo. Aprenderán como es que actividades que hacen diariamente en el hogar apoyan la enseñanza de la lectura y escritura en la escuela. Estas lecciones se logran sin utilizar materiales didácticos. Este taller será interactivo y los participantes pondrán manos a la obra.</p>
                      <hr>
                      <p>Grado: Pre K-3</p>
                    </div>
                    <div class='card-footer text-muted'>
                      <p>Presentadores: Marta Leyva & Joyce Clark</p>
                    </div>
                  </div>
                </div>
                  <div class="card">
                  <div class="card-header" role="tab" id="headingTwo2">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                      Las Claves para la Lectura <i class="fas fa-angle-down rotate-icon"></i>
                    </a>
                  </div>
                  <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2" data-parent="#accordionEx">
                    <div class="card-body">
                      Aprender a leer y convertirse en un buen lector puede ser un desafío. Sin embargo, la lectura no debe ser difícil. Aprender la importancia de las palabras de uso constante y las familias de palabras para el desarrollo adecuado de nuevos lectores. Descubre formas divertidas de practicar estas palabras en casa.
                      <hr>
                      <p>Grado: K-3</p>
                    </div>
                    <div class='card-footer text-muted'>
                      <p>Presentador: Derri Ironfield</p>
                    </div>
                  </div>
                </div>
                  <div class="card">
                  <div class="card-header" role="tab" id="headingThree3">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
                      Autoestima <i class="fas fa-angle-down rotate-icon"></i>
                    </a>
                  </div>
                  <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3" data-parent="#accordionEx">
                    <div class="card-body">
                      Los participantes aprenderán cómo expresar sus sentimientos a través del arte. El proceso creativo implicado en la expresión de uno mismo artísticamente puede ayudar a la gente a resolver los problemas, así como desarrollar y gestionar sus comportamientos y sentimientos, reducir el estrés y mejorar la autoestima y la conciencia.
                      <hr>
                      <p>Grado: Todos</p>
                    </div>
                    <div class='card-footer text-muted'>
                      <p>Presentadores: Amanda Cox & Hernandez Andrews </p>
                    </div>
                  </div>
                </div>
                  <div class="card">
                  <div class="card-header" role="tab" id="headingFour4">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFour4" aria-expanded="false" aria-controls="collapseFour4">
                      Desarrollo del IEP: De Recomendación a la firma del IEP <i class="fas fa-angle-down rotate-icon"></i>
                    </a>
                  </div>
                  <div id="collapseFour4" class="collapse" role="tabpanel" aria-labelledby="headingFour4" data-parent="#accordionEx">
                    <div class="card-body">
                      Este taller llevará a los participantes a un viaje desde cómo y cuándo recomendar a un estudiante para la educación especial, el proceso de evaluación, plazos, tipos de servicios designados, y los factores que deben estar en su lugar antes de que se firme el IEP.
                      <hr>
                      <p>Grado: Todos</p>
                    </div>
                    <div class='card-footer text-muted'>
                      <p>Presentadores: Dr. Pedro Olvera & Laura Cervantes</p>
                    </div>
                  </div>
                </div>
                  <div class="card">
                  <div class="card-header" role="tab" id="headingFive5">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFive5" aria-expanded="false" aria-controls="collapseFive5">
                      Tecnología de asistencia <i class="fas fa-angle-down rotate-icon"></i>
                    </a>
                  </div>
                  <div id="collapseFive5" class="collapse" role="tabpanel" aria-labelledby="headingFive5" data-parent="#accordionEx">
                    <div class="card-body">
                      <p>¡La Tecnología de Asistencia, es la Ley! El decreto IDEA ahora requiere que TODOS los alumnos con un IEP se consideren para la Tecnología de Asistencia. El equipo del IEP tomo decisiones sobre los aparatos y servicios de tecnología de asistencia basados en las necesidades singulares de su hijo/a, para que pueda tener confianza en sí mismo y ser independiente. La ley requiere que las esculeas usen los aparatos y servicios de tecnología de asistencia para "maximizar el acceso para los niños con discapacidades." Este taller/presentación se centrará en el decreto IDEA de 2004 que requiere que los equipos del IEP consideren las necesidades de Tecnología de Asistencia de todos los niños con discapacidades.</p>
                      <hr>
                      <p>Grado: Todos</p>
                    </div>
                    <div class='card-footer text-muted'>
                      <p>Presentador: Dr. Regina Brandon</p>
                    </div>
                  </div>
                </div>
                  <div class="card">
                  <div class="card-header" role="tab" id="headingSix6">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseSix6" aria-expanded="false" aria-controls="collapseSix6">
                      Empleo Competitivo Integral <i class="fas fa-angle-down rotate-icon"></i>
                    </a>
                  </div>
                  <div id="collapseSix6" class="collapse" role="tabpanel" aria-labelledby="headingSix6" data-parent="#accordionEx">
                    <div class="card-body">
                      <p>Este taller explorará las opciones de empleo competitivo integral para las personas con discapacidades, incluyendo el derecho de una persona a un empleo digno y como abogar por las opciones de empleo dirigidas a las personas.</p>
                      <hr>
                      <p>Grado: Todos</p>
                    </div>
                    <div class='card-footer text-muted'>
                      <p>Presentador: Ivan Guillen</p>
                    </div>
                  </div>
                </div>
                  <div class="card">
                    <div class="card-header" role="tab" id="headingSeven7">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseSeven7" aria-expanded="false" aria-controls="collapseSeven7">
                        Ayude a su hijo a llegar alto!!!!!!! <i class="fas fa-angle-down rotate-icon"></i>
                      </a>
                    </div>
                    <div id="collapseSeven7" class="collapse" role="tabpanel" aria-labelledby="headingSeven7" data-parent="#accordionEx">
                      <div class="card-body">
                        <p>Este taller está diseñado para introducirlo/a a cómo se desarrolla el lenguaje y un segundo idioma. También se presentará la información sobre el desarrollo adecuado de las destrezas lingüísticas con su hijo/a y como apoyar el aprendizaje del segundo idioma para que tengan éxito enseñando un de segundo idioma. Descubra por qué un niño experimenta dificultades con el aprendizaje de una segunda lengua o qué hacer si sospecha que existe alguna discapacidad.</p>
                        <hr>
                        <p>Grado: El comienzo - K</p>
                      </div>
                      <div class='card-footer text-muted'>
                        <p>Presentador: Debbie Muñoz</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" role="tab" id="headingEight8">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseEight8" aria-expanded="false" aria-controls="collapseEight8">
                        Cómo completer la transición con éxito <i class="fas fa-angle-down rotate-icon"></i>
                      </a>
                    </div>
                    <div id="collapseEight8" class="collapse" role="tabpanel" aria-labelledby="headingEight8" data-parent="#accordionEx">
                      <div class="card-body">
                        <p>
                            Escucharemos a un grupo de adultos jóvenes que abordan temas que giran sobre las transiciones académicas y profesionales, tales como:
                            <ul>
                                <li>¿Cómo te preparaste (o cómo se está preparando) para el evento de transición más reciente (incluyendo secundaria, preparatoria, secundaria o empleo)?</li>
                                <li>¿Qué dificultades enfrentan en el camino?</li>
                                <li>¿Qué recursos ha utilizado? ¿Qué recursos utiliza todavía?</li>
                                <li>¿Con qué habilidades cuenta que le hayan ayudado a tener éxito?</li>
                            </ul>
                        </p>
                        <hr>
                        <p>Grado: 4-6</p>
                      </div>
                      <div class='card-footer text-muted'>
                        <p>Presentadores: Martin Duarte & Antonio Arias</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" role="tab" id="headingNine9">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseNine9" aria-expanded="false" aria-controls="collapseNine9">
                        Establecimiento de Rutinas y Administracion del Compartamiento en el Hogar <i class="fas fa-angle-down rotate-icon"></i>
                      </a>
                    </div>
                    <div id="collapseNine9" class="collapse" role="tabpanel" aria-labelledby="headingNine9" data-parent="#accordionEx">
                      <div class="card-body">
                        <p>Este taller va compatir ideas y tecnícas en como los padres puedan establecer rutinas diarias y estrategias de manejániento de compartamiento. Los presentadores tambíen pondran énfasis de importancia para el plan del hogar/escolar y en curso de continuacion y comunicación.</p>
                        <hr>
                        <p>Grado: K-3</p>
                      </div>
                      <div class='card-footer text-muted'>
                        <p>Presentadores: Martin Duarte & Clarisa Solís</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" role="tab" id="headingTen10">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTen10" aria-expanded="false" aria-controls="collapseTen10">
                        La Comprehensión del 'Lector de Trancisión' <i class="fas fa-angle-down rotate-icon"></i>
                      </a>
                    </div>
                    <div id="collapseTen10" class="collapse" role="tabpanel" aria-labelledby="headingTen10" data-parent="#accordionEx">
                      <div class="card-body">
                          La lectura es un proceso de desarrollo. Este taller se centrará en el "período de transición" en el desarrollo de la lectura, comienza con un formato apoyado con capítulos de libros tempranos. (DRA Nivel 18). Este taller es dirigido a los padres de los estudiantes que son "lectores de transición."
                        <hr>
                        <p>Grado: 4-8</p>
                      </div>
                      <div class='card-footer text-muted'>
                        <p>Presentador: Nikki Morgan </p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" role="tab" id="headingEleven11">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseEleven11" aria-expanded="false" aria-controls="collapseEleven11">
                        Auto determinación - Descripción y Discusión <i class="fas fa-angle-down rotate-icon"></i>
                      </a>
                    </div>
                    <div id="collapseEleven11" class="collapse" role="tabpanel" aria-labelledby="headingEleven11" data-parent="#accordionEx">
                      <div class="card-body">
                          La autodeterminación pronto será una realidad en California. No se trata sólo de un nuevo programa, sino un asunto de derechos civiles. La nueva ley, SB 468, tiene el potencial de alterar dramáticamente la prestación de servicios para las personas con discapacidades de desarrollo y sus familias y así afectar significativamente su calidad de vida. Esta sesión ofrece una visión general de la ley, incluyendo ejemplos del mundo real. Estará dirigido a las personas con discapacidades del desarrollo, sus familias y los proveedores de servicios. Se centrará en los aspectos básicos; asumiendo que la mayoría de la gente tiene una idea vaga de la nueva ley, sus necesidades y su impacto potencial.
                          <hr>
                        <p>Grado: Todos</p>
                      </div>
                      <div class='card-footer text-muted'>
                        <p>Presentadores: Yolanda Cruz & Debbie Marshall </p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" role="tab" id="headingTwelve12">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwelve12" aria-expanded="false" aria-controls="collapseTwelve12">
                        El camino a la adolescencia <i class="fas fa-angle-down rotate-icon"></i>
                      </a>
                    </div>
                    <div id="collapseTwelve12" class="collapse" role="tabpanel" aria-labelledby="headingTwelve12" data-parent="#accordionEx">
                      <div class="card-body">
                        Este taller ofrece a los padres información básica sobre los cambios que la pubertad y la adolescencia trae consigo a todos los niños incluyendo a su hijo. El objectivo de esta información le enseñará a los participantes a sentirse más cómodos y seguros para que ayuden a sus hijos a navegar con seguridad esta transición importante de la niñez a la edad adulta. Este taller es apropiado para los padres de los estudiantes de primaria y secundaria.
                        <hr>
                        <p>Grado: Todos</p>
                      </div>
                      <div class='card-footer text-muted'>
                        <p>Presentador: Delia Lopez </p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" role="tab" id="headingThirteen13">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThirteen13" aria-expanded="false" aria-controls="collapseThirteen13">
                        Tecnología de Asistencia en el Entorno de la Escuela Preparatoria <i class="fas fa-angle-down rotate-icon"></i>
                      </a>
                    </div>
                    <div id="collapseThirteen13" class="collapse" role="tabpanel" aria-labelledby="headingThirteen13" data-parent="#accordionEx">
                      <div class="card-body">
                        Estaremos abordando las leyes y derechos básicos de los alumnos con necesidades especiales, en materia de acceso y su impacto en las responsabilidades del distrito escolar. Vamos a estar cubriendo consideraciones para estudiantes, en fases, las evaluaciones y la planificación futura para el crecimiento educativo y el éxito.
                        <hr>
                        <p>Grado: Todos</p>
                      </div>
                      <div class='card-footer text-muted'>
                        <p>Presentadores: Dennis Hernandez & Homer Lopez </p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" role="tab" id="headingFourteen14">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFourteen14" aria-expanded="false" aria-controls="collapseFourteen14">
                        La Sorpresa del IEP -¿Y a hora qué? <i class="fas fa-angle-down rotate-icon"></i>
                      </a>
                    </div>
                    <div id="collapseFourteen14" class="collapse" role="tabpanel" aria-labelledby="headingFourteen14" data-parent="#accordionEx">
                      <div class="card-body">
                        Este taller explicara que pasos pueden tomar los padres para prepararse y asistir a un IEP, abordondo las preoupaciones durante el IEP, y conociendo las acciones despés del IEP. Será compartido un polleto con los recursos en linea disponibles, derechos educatiuos, grupos de decensa.
                        <hr>
                        <p>Grado: Todos</p>
                      </div>
                      <div class='card-footer text-muted'>
                        <p>Presentador: ADELANTE Students</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" role="tab" id="headingFifteen15">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFifteen15" aria-expanded="false" aria-controls="collapseFifteen15">
                        La Vida Adulta de Un Discapacitado <i class="fas fa-angle-down rotate-icon"></i>
                      </a>
                    </div>
                    <div id="collapseFifteen15" class="collapse" role="tabpanel" aria-labelledby="headingFifteen15" data-parent="#accordionEx">
                      <div class="card-body">
                        En este taller hablaremos desde la perspectiva de un padre a lo largo del camino de las discapacidades. Trataremos desde el inicio cuando los padres se enteran de la discapacidad de su hijo/a, el sentimiento de culpa, miedo a lo desconocido, las decisiones y tristezas, los logros alcanzados, preparar a nuestros hijos a su independencia cuando los padres no estén, consejos a generaciones jóvenes de padres que inician en el camino de las discapacidades y la importancia de los grupos de apoyo.
                        <hr>
                        <p>Grado: Adulto</p>
                      </div>
                      <div class='card-footer text-muted'>
                        <p>Presentador: Raquel Arce-Vasquez</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class='item col-12'>
                Student Leadership Program
                <div class="accordion md-accordion" id="accordionSx" role="tablist" aria-multiselectable="true">
                  <div class="card">
                  <div class="card-header" role="tab" id="headingOne1-1">
                    <a data-toggle="collapse" data-parent="#accordionSx" href="#collapseOne1-1" aria-expanded="false" aria-controls="collapseOne1">
                       "¿Qué pasa si ..." Resoluciónes para Individuos durante Transición <i class="fas fa-angle-down rotate-icon"></i>
                    </a>
                  </div>
                  <div id="collapseOne1-1" class="collapse" role="tabpanel" aria-labelledby="headingOne1-1" data-parent="#accordionSx">
                    <div class="card-body">
                        Unete a nuestras conversaciones con los estudiantes que presentan casos de vida real que envuelven problemas académicos y en la comunidad. ¿No se sentiría bien saber cómo hacer frente a un problema en la escuela, el trabajo, la comunidad o en una situación de emergencia? Se proporcionan los pasos para ayudar a las personas a hacer frente a situaciones difíciles, así como tomar el tiempo para hablar de los "qué pasaría si" de la vida cotidiana.
                      <hr>
                      <p>Grado: 9-12</p>
                    </div>
                    <div class='card-footer text-muted'>
                      <p>Presentadores: Patty Flores-Charter & Michelle Sturm Gonzalez</p>
                    </div>
                  </div>
                </div>
                </div>
              </div>
              <div class='item col-12'>
                Lista completa y
                <a href='/docs/FERIA-conference/1nd-program.pdf#page=7' target='_blank'>descripciones</a>
              </div>
              </div>
            </div>
              <hr>
              <div class='small'>
                Enfoque de la Conferencia:
                <ul>
                  <li>Trabajo en Pro de Los Educandos en Inglés:
                      <ul>
                          <li>Lenguaje</li>
                          <li>Lectoescritura para TODOS los niños Preescolar - Secundaria</li>
                          <li>(Conexión Hogar-Escuela-Comunidad)</li>
                      </ul>
                  </li>
                </ul>
              </div>
              <hr>
              <div class='small'>
                Patrocinadores:
                <ul>
                  <li>Departamento de Educación Especial SDSU</li>
                  <li>Proyecto Adelante SDSU</li>
                  <li>(SAILN) Área Sur de Rede Internacional de Lenguajes SDSU</li>
                  <li>Southwestern Community College</li>
                  <li>Programa de Lenguaje Doble y Programa de Educandos en Inglés</li>
                  <li>Instituto de Calidad Educativa de Padres (PIQE)</li>
                  <li>Distrito Escolar Unificado de San Diego</li>
                  <li>Distrito Preparatoriano Sweetwater Union</li>
                  <li>Condado Sur de SELPA</li>
                  <li>Centro de Padres Harold J. Ballard</li>
                  <li>Censejo Estatal para Discapacidades, San Diego, Oficina Valle Imperial</li>
                  <li>Centro Regional de San Diego (SDRC)</li>
                  <li>Derechos de Discapacidades de California</li>
                  <li>Equipo de Abogados para Niños Especiales</li>
                  <li>Centro Recursos para Familias Excepcionales</li>
                  <li>Universidad Azusa Pacific, el Club Optimista del Sur de California y el Arc de San Diego</li>
                  <li>Centro de Salud Molina</li>
                  <li>Organizaciones y agencies de la comunidad</li>
                </ul>
              </div>
          </div>
          <% }else{ %>
          <p class='big'>1st Annual FERIA Partnership Conference</p>
          <hr>
          <div class='small'>
            <p class='date'>Sat, Nov 7, 2015, 8 AM - 3:00 PM (PST)</p>
            <p>"The Voices of Latino Families: Empowering Educators, Families and Children-Youth with Special Needs"</p>
            <div class="embed-responsive embed-responsive-21by9 top">
              <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/ABUYlotv1iw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <p class='top'>Our goal is to provide families in the South Bay and San Diego area with educational information to better support their children's education, mental health well-being and access to community resources.</p>
            <button class='btn'>
                <a href='/docs/FERIA-conference/3rd-program.pdf' target='_blank'>Event Program</a>
            </button>
            <hr>
            <div>
              <h5>Keynote Speaker</h5>
              <div class='row no-gutters'>
                <div class='item col-sm-12 col-md-6'>
                  <img src='/images/team/pedro-olvera.jpg' class='keynote rounded-circle'>
                </div>
                <div class='item col-sm-12 col-md-6 keynote-text'>
                  <h2>Dr. Pedro Olvera</h2>
                  Associate Professor, School Counseling & School Psychology, Azusa Pacific University
                </div>
              </div>
              <div class='row no-gutters'>
                <div class='item col-12 keynote-text'>
                    Pedro Olvera, Psy.D, L.E.P, is the Director and Associate Professor of the School Psychology program at Azusa Pacific University (APU). He teaches coursework in the area of assessment of ELLs, cognitive assessment, and enhancing collaboration with Latino families. Before joining APU, he was a bilingual school psychologist in Santa Ana, CA.
                </div>
              </div>
            </div>
            <hr>
            <div>
              <p>Workshop Topics</p>
              <p>
                Our workshops are presented by experienced speakers that work closely within our San Diego community and the topics we discuss are determined by what our community needs the most.
              </p>
              <div class='item col-12 bottom'>
                <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                  <div class="card">
                  <div class="card-header" role="tab" id="headingOne1">
                    <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1">
                      Activities that Bridge Literacy Development from Home to School <i class="fas fa-angle-down rotate-icon"></i>
                    </a>
                  </div>
                  <div id="collapseOne1" class="collapse" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                    <div class="card-body">
                      <p>In this workshop parents / guardians learn how to integrate activities of daily life, with literacy development. They will learn how it is that daily activities done at home support the teaching of reading and writing in school. These lessons are achieved without using teaching materials. This workshop will be interactive and participants will get to work.</p>
                      <hr>
                      <p>Grade: Pre K-3</p>
                    </div>
                    <div class='card-footer text-muted'>
                      <p>Presenters: Marta Leyva & Joyce Clark</p>
                    </div>
                  </div>
                </div>
                  <div class="card">
                  <div class="card-header" role="tab" id="headingTwo2">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                      The Keys to Reading <i class="fas fa-angle-down rotate-icon"></i>
                    </a>
                  </div>
                  <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2" data-parent="#accordionEx">
                    <div class="card-body">
                      Learning how to read and become a fluent reader can be a challenge. But reading does not have to be a chore. Learn the role of high frequency words and word families in the development of good readers. Discover fun ways to practice these words at home.
                      <hr>
                      <p>Grade: K-3</p>
                    </div>
                    <div class='card-footer text-muted'>
                      <p>Presenter: Derri Ironfield</p>
                    </div>
                  </div>
                </div>
                  <div class="card">
                  <div class="card-header" role="tab" id="headingThree3">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
                      Self-Esteem <i class="fas fa-angle-down rotate-icon"></i>
                    </a>
                  </div>
                  <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3" data-parent="#accordionEx">
                    <div class="card-body">
                      Participants will learn how to express their feeling through art. The creative process involved in expressing one's self artistically can help people to resolve issues as well as develop and manage their behaviors and feelings, reduce stress, and improve self-esteem and awareness.
                      <hr>
                      <p>Grade: All</p>
                    </div>
                    <div class='card-footer text-muted'>
                      <p>Presenters: Amanda Cox & Hernandez Andrews</p>
                    </div>
                  </div>
                </div>
                  <div class="card">
                  <div class="card-header" role="tab" id="headingFour4">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFour4" aria-expanded="false" aria-controls="collapseFour4">
                      IEP Development: From Referral to Signing the IEP <i class="fas fa-angle-down rotate-icon"></i>
                    </a>
                  </div>
                  <div id="collapseFour4" class="collapse" role="tabpanel" aria-labelledby="headingFour4" data-parent="#accordionEx">
                    <div class="card-body">
                      This workshop will take the participants on a journey from how and when to refer a student for special education, the assessment process, timelines, types of designated services, and factors that must be in place before the IEP is signed.
                      <hr>
                      <p>Grade: All</p>
                    </div>
                    <div class='card-footer text-muted'>
                      <p>Presenters: Dr. Pedro Olvera & Laura Cervantes</p>
                    </div>
                  </div>
                </div>
                  <div class="card">
                  <div class="card-header" role="tab" id="headingFive5">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFive5" aria-expanded="false" aria-controls="collapseFive5">
                      Assistive Technology <i class="fas fa-angle-down rotate-icon"></i>
                    </a>
                  </div>
                  <div id="collapseFive5" class="collapse" role="tabpanel" aria-labelledby="headingFive5" data-parent="#accordionEx">
                    <div class="card-body">
                      Assistive Technology It's the law! IDEA now requires that ALL students with an IEP be considered for Assistive Technology. The IEP team makes decisions about assistive technology devices and services based on your child's unique needs so that he can be more confident and independent. The law requires schools to use assistive technology devices and services "to maximize accessibility for children with disabilities." This presentation/workshop will focus on the IDEA 2004 law that requires that IEP teams consider the Assistive Technology needs of all children with disabilities.
                      <hr>
                      <p>Grade: All</p>
                    </div>
                    <div class='card-footer text-muted'>
                      <p>Presenter: Dr. Regina Brandon</p>
                    </div>
                  </div>
                </div>
                  <div class="card">
                  <div class="card-header" role="tab" id="headingSix6">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseSix6" aria-expanded="false" aria-controls="collapseSix6">
                      Integrated Competitive Employment <i class="fas fa-angle-down rotate-icon"></i>
                    </a>
                  </div>
                  <div id="collapseSix6" class="collapse" role="tabpanel" aria-labelledby="headingSix6" data-parent="#accordionEx">
                    <div class="card-body">
                      This workshop will explore the integrated competitive employment options for people who have disabilities, including a person's right to meaningful employment and how to advocate for person driven employment options.
                      <hr>
                      <p>Grade: All</p>
                    </div>
                    <div class='card-footer text-muted'>
                      <p>Presenter: Ivan Guillen</p>
                    </div>
                  </div>
                </div>
                  <div class="card">
                    <div class="card-header" role="tab" id="headingSeven7">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseSeven7" aria-expanded="false" aria-controls="collapseSeven7">
                        Help Your Child Soar!!!!!!! <i class="fas fa-angle-down rotate-icon"></i>
                      </a>
                    </div>
                    <div id="collapseSeven7" class="collapse" role="tabpanel" aria-labelledby="headingSeven7" data-parent="#accordionEx">
                      <div class="card-body">
                        This workshop is designed to introduce you to how language and second language develops. Information on developing good language skills with your child and how to support second language learning so they will become a successful English language learner will also be preseented. Find out why a child is experiencing difficulty with learning the second language or what to do if you suspect a disability.
                        <hr>
                        <p>Grade: Birth - K</p>
                      </div>
                      <div class='card-footer text-muted'>
                        <p>Presenter: Debbie Muñoz</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" role="tab" id="headingEight8">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseEight8" aria-expanded="false" aria-controls="collapseEight8">
                        How to Complete Transition Successfully <i class="fas fa-angle-down rotate-icon"></i>
                      </a>
                    </div>
                    <div id="collapseEight8" class="collapse" role="tabpanel" aria-labelledby="headingEight8" data-parent="#accordionEx">
                      <div class="card-body">
                        <p>
                            Listen to a panel of young adults that will be addressing questions surrounding transitions in their academic and professional lives such as:
                            <ul>
                                <li>How did you prepare (or how are you preparing) for the most resent transition event (including middle, high, secondary school or employment)?</li>
                                <li>What difficulties did you face along the way?</li>
                                <li>What resources have you used? What resources do you still use?</li>
                                <li>What skills do you have that has helped you to be successful?</li>
                            </ul>
                        </p>
                        <hr>
                        <p>Grade: 7-12</p>
                      </div>
                      <div class='card-footer text-muted'>
                        <p>Presenters: Patty Flores-Charter & Michelle Sturm-Gonzalez</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" role="tab" id="headingNine9">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseNine9" aria-expanded="false" aria-controls="collapseNine9">
                        Establishing Routines & Behavior Management at Home <i class="fas fa-angle-down rotate-icon"></i>
                      </a>
                    </div>
                    <div id="collapseNine9" class="collapse" role="tabpanel" aria-labelledby="headingNine9" data-parent="#accordionEx">
                      <div class="card-body">
                        This workshop will share ideas and techniques on how parents can set up structures in the home setting for establishing daily routines as well as behavior management strategies. The presenters will also highlight the importance of a home/school collaboration plan and ongoing follow-up and communication.
                        <hr>
                        <p>Grade: K-3</p>
                      </div>
                      <div class='card-footer text-muted'>
                        <p>Presenters: Martin Duarte & Clarisa Solís</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" role="tab" id="headingTen10">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTen10" aria-expanded="false" aria-controls="collapseTen10">
                        Understanding the Transitional Reader <i class="fas fa-angle-down rotate-icon"></i>
                      </a>
                    </div>
                    <div id="collapseTen10" class="collapse" role="tabpanel" aria-labelledby="headingTen10" data-parent="#accordionEx">
                      <div class="card-body">
                        Reading is a developmental process. This workshop will focus on the 'transitional period' of reading development that begins with early chapter books formats. (DRA Level 18). This workshop is appropriate for parents of students who are just beginning to read chapter book formats and for parents of students who are 'transitional readers'.
                        <hr>
                        <p>Grade: 4-8</p>
                      </div>
                      <div class='card-footer text-muted'>
                        <p>Presenter: Nikki Morgan</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" role="tab" id="headingEleven11">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseEleven11" aria-expanded="false" aria-controls="collapseEleven11">
                        Self Determination - Overview and Discussion <i class="fas fa-angle-down rotate-icon"></i>
                      </a>
                    </div>
                    <div id="collapseEleven11" class="collapse" role="tabpanel" aria-labelledby="headingEleven11" data-parent="#accordionEx">
                      <div class="card-body">
                        Self-Determination will soon be a reality in California. It is not just a new program but a civil rights issue. The new law, SB 468, has the potential to dramatically alter service delivery for people with developmental disabilities and their families - and significantly impact their quality of light. This session provides an overview of the law, including real-world examples. It will be geared towards people with developmental disabilities, their families and service providers. It will focus on the basics; assuming that most people have only a vague understanding of the new law, its requirements and potential impact.
                        <hr>
                        <p>Grade: All</p>
                      </div>
                      <div class='card-footer text-muted'>
                        <p>Presenters: Yolanda Cruz & Debbie Marshall</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" role="tab" id="headingTwelve12">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwelve12" aria-expanded="false" aria-controls="collapseTwelve12">
                        Journey through Adolescence <i class="fas fa-angle-down rotate-icon"></i>
                      </a>
                    </div>
                    <div id="collapseTwelve12" class="collapse" role="tabpanel" aria-labelledby="headingTwelve12" data-parent="#accordionEx">
                      <div class="card-body">
                        This workshop will provide parents with basic information about the changes that puberty and adolescence bring to every child, including their son or daughter. The information is intended to help participants feel more comfortable and confident as they help their children safely navigate this important transition from childhood to adulthood. The ultimate aim is to promote the independence, personal safety, healthy lifestyles, healthy relationships and social inclusion of youth with disabilities. This workshop is appropriate for parents of primary and middle school students.
                        <hr>
                        <p>Grade: All</p>
                      </div>
                      <div class='card-footer text-muted'>
                        <p>Presenter: Delia Lopez </p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" role="tab" id="headingThirteen13">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThirteen13" aria-expanded="false" aria-controls="collapseThirteen13">
                        Assistive Technology in a High School Setting <i class="fas fa-angle-down rotate-icon"></i>
                      </a>
                    </div>
                    <div id="collapseThirteen13" class="collapse" role="tabpanel" aria-labelledby="headingThirteen13" data-parent="#accordionEx">
                      <div class="card-body">
                        We will be addressing the basic laws and rights of students with Special Needs regarding access and their impact on school district responsibilities. We will be covering considerations for students, phases in, the assessments and future planning for educational growth and success.
                        <hr>
                        <p>Grade: All</p>
                      </div>
                      <div class='card-footer text-muted'>
                        <p>Presenters: Dennis Hernandez & Homer Lopez </p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" role="tab" id="headingFourteen14">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFourteen14" aria-expanded="false" aria-controls="collapseFourteen14">
                        The Shock of an IEP - What now? <i class="fas fa-angle-down rotate-icon"></i>
                      </a>
                    </div>
                    <div id="collapseFourteen14" class="collapse" role="tabpanel" aria-labelledby="headingFourteen14" data-parent="#accordionEx">
                      <div class="card-body">
                        This workshop will explain what steps parents can take to prepare for attending an IEP, concerns to address during an IEP, and follow-up actions after an IEP. A handout of online resources of available services, educational rights, and advocacy groups will be shared.
                        <hr>
                        <p>Grade: All</p>
                      </div>
                      <div class='card-footer text-muted'>
                        <p>Presenter: ADELANTE Students </p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" role="tab" id="headingFifteen15">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFifteen15" aria-expanded="false" aria-controls="collapseFifteen15">
                        Life Without Your Parents <i class="fas fa-angle-down rotate-icon"></i>
                      </a>
                    </div>
                    <div id="collapseFifteen15" class="collapse" role="tabpanel" aria-labelledby="headingFifteen15" data-parent="#accordionEx">
                      <div class="card-body">
                        In this workshop we will address the path of disabilities from the parents perspective. The workshop will start from the beginning when the parents learn about the disability of their child, the guilt feeling, fear of the unknown, decisions and sadness. Accomplished goals, preparing children to their independence when parents are not around anymore and very importantly, a word of advice to the new generation of parents that are starting in the long road of the developmentally disabilities and the importance of belonging to a parent support group.
                        <hr>
                        <p>Grade: Adult</p>
                      </div>
                      <div class='card-footer text-muted'>
                        <p>Presenter: Raquel Arce-Vasquez </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class='item col-12'>
                Student Leadership Program
                <div class="accordion md-accordion" id="accordionSx" role="tablist" aria-multiselectable="true">
                  <div class="card">
                  <div class="card-header" role="tab" id="headingOne1-1">
                    <a data-toggle="collapse" data-parent="#accordionSx" href="#collapseOne1-1" aria-expanded="false" aria-controls="collapseOne1">
                      "What if ..." Conflict-Resolution for Transition-Aged Individuals <i class="fas fa-angle-down rotate-icon"></i>
                    </a>
                  </div>
                  <div id="collapseOne1-1" class="collapse" role="tabpanel" aria-labelledby="headingOne1-1" data-parent="#accordionSx">
                    <div class="card-body">
                        Join our conversations with students as they are presented with real-life scenarios that involve problems people encounter academically and in the community. Wouldn't it feel good to know how to deal with a problem in school, work, community, or in an emergency situation? Steps to help individuals deal with difficult situations will be provided as well as time to discuss the "what ifs" of independent living.
                      <hr>
                      <p>Grade: 9-12</p>
                    </div>
                    <div class='card-footer text-muted'>
                      <p>Presenters: Patty Flores-Charter & Michelle Sturm-Gonzalez</p>
                    </div>
                  </div>
                </div>
                </div>
              </div>
              <div class='item col-12'>
                Full list and 
                <a href='/docs/FERIA-conference/1nd-program.pdf#page=7' target='_blank'>descriptions</a>
              </div>
            </div>
            <hr>
            <div>
                Conference Focus:
            <ul>
                <li>Working with English Learners:
                    <ul>
                        <li>Language</li>
                        <li>Literacy for ALL Children</li>
                        <li>Preschool-Secondary</li>
                        <li>(Home ● School ● Community Connection)</li>
                    </ul>
                </li>
            </ul>
          </div>
            <hr>
            <div>
            Sponsored By:
            <ul>
              <li>The Department of Special Education SDSU</li>
              <li>Adelante Project, SDSU</li>
              <li>Southern Area International Languages Network (SAILN), SDSU</li>
              <li>Dual Language and English Learner Program, SDSU</li>
              <li>Parents Institute for Quality Education (PIQE)</li>
              <li>San Diego Unified School District</li>
              <li>Sweetwater Union High School District</li>
              <li>South County SELPA</li>
              <li>Harold J. Ballard Parent Center</li>
              <li>State Council on Developmental Disabilities, San Diego, Imperial Office</li>
              <li>San Diego Regional Center (SDRC)</li>
              <li>Disability Rights California</li>
              <li>Team of Advocates for Special Kids (TASK)</li>
              <li>Exceptional Family Resource Center</li>
              <li>The California Southern Optimist Clubs (15)</li>
              <li>Molina Health Care</li>
              <li>Arc of San Diego & Other Organizations/Agencies</li>
            </ul>
          </div>
            </div>
          </div>
          <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% if(spanish){ %>
    <% include partials/footer-spanish %>
<% }else{ %>
    <% include partials/footer %>
<% } %>