<% include partials/header-top %>
    <meta name='description' content='FERIA Partnership Annual Conference is to empower Latino families and provide them the knowledge to effectively support their children with special needs from cradle to college to adult life as well as to assist them in attaining their optimal learning potential through a culturally and linguistically responsive home, school and community collaborative in San Diego county, including a high school student leadership/self advocacy and professional strand.'>
    <meta name='keywords' content='4th annual feria partnership conference, feria, feria partnership, feria partnership conference, disability, disability support services, san diego mission, nonprofits in san diego, literacy strategies, resources, san diego charities, agencies, student success, latino, college, leadership, san diego regional center, exceptional family resource center, south western college, foundation for developmental disabilities'>
    <title>FERIA | 4th Annual FERIA Partnership Conference</title>
</head>
<% if(spanish){ %>
    <% include partials/header-spanish %>
<% }else{ %>
    <% include partials/header %>
<% } %>
<link rel='stylesheet' href='/stylesheets/feria-4.css'>
<div class='container-fluid no-padding'>
  <div class='row no-gutters'>
    <div class='item col-12 width conference'>
      <div class='carousel-caption'>
        <% if(spanish){ %>
          <p class='big'>4ta. Conferencia Anual Asociación FERIA de San Diego</p>
          <hr>
          <div class='small'>
            <p class='date'>Sábado, 10 de noviembre, 2018, 8:00 AM - 3:30 PM (PST)</p>
            <p>Iluminando el Camino al Exito y al Bienestar</p>
            <div class="embed-responsive embed-responsive-21by9 top">
              <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/ABUYlotv1iw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <p class='top'>Our goal is to provide families in the South Bay and San Diego area with educational information to better support their children's education, mental health well-being and access to community resources.</p>
            <hr>
            <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
              <div class="card">
                <div class="card-header" role="tab" id="headingOne1">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1">
                    <h5 class="mb-0">
                      Ponente principal <i class="fas fa-angle-down rotate-icon"></i>
                    </h5>
                  </a>
                </div>
                <div id="collapseOne1" class="collapse" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                  <div class="card-body">
                    <div class='row no-gutters'>
                        <div class='item col-12'>
                            <h2>Mi viaje por la montaña</h2>
                            <hr>
                        </div>
                    </div>
                    <div class='row no-gutters'>
                        <div class='item col-sm-12 col-md-6'>
                          <img src='/images/team/clarisa-solis.jpg' class='keynote rounded-circle'>
                        </div>
                        <div class='item col-sm-12 col-md-6 keynote-text'>
                          <h2>Clarisa Solís</h2>
                          es Psicóloga Educativa desde 1987, tiene una maestría en Neuropsicología y doctorado en Psicología. Fue la fundadora de la primera escuela de educación especial privada en Tijuana.
                        </div>
                    </div>
                    <div class='row no-gutters'>
                        <div class='item col-12'>
                            <a href='/docs/FERIA-conference/4th-program.pdf#page=7' target='_blank'>Full Bio</a>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingTwo2">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                    <h5 class="mb-0">
                      Temas del taller <i class="fas fa-angle-down rotate-icon"></i>
                    </h5>
                  </a>
                </div>
                <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2" data-parent="#accordionEx">
                  <div class="card-body container-fluid">
                      <div class='item col-12'>
                          <p><a href='/docs/FERIA-conference/4-eval-sum.pdf' target='_blank'>Evaluaciones</a></p>
                          Lista completa y
                          <a href='/docs/FERIA-conference/4th-program.pdf#page=8' target='_blank'>descripciones</a>
                      </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingThree3">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
                    <h5 class="mb-0">
                      Ofertas de conferencias <i class="fas fa-angle-down rotate-icon"></i>
                    </h5>
                  </a>
                </div>
                <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3" data-parent="#accordionEx">
                  <div class="card-body">
                    Talleres / Feria de recursos Diseñado para familias: nacimiento - Año adulto
                    <ul>
                      <li>Edad Temprana</li>
                      <li>Secudaria-Academica de Liderazgo Estudiantil</li>
                      <li>Linea de Adultos</li>
                      <li>Linea de Padres</li>
                      <li>Linea de Profesionales</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingFour4">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFour4" aria-expanded="false" aria-controls="collapseFour4">
                    <h5 class="mb-0">
                      Sponsored By <i class="fas fa-angle-down rotate-icon"></i>
                    </h5>
                  </a>
                </div>
                <div id="collapseFour4" class="collapse" role="tabpanel" aria-labelledby="headingFour4" data-parent="#accordionEx">
                  <div class="card-body">
                    <ul>
                          <li>Fundación de las Discapacidades de Desarrollo (FDD)</li>
                          <li>Southwestern Community College</li>
                          <li>Centro Regional de San Diego (SDRC)</li>
                          <li>La Voz de Padres: Optimista de Familias Especiales</li>
                          <li>Distrito Escolar Sweetwater Union</li>
                          <li>SELPA Condado Sur</li>
                          <li>Distrito Escolar Unificado de San Diego</li>
                          <li>Arc of San Diego</li>
                          <li>Centro Recursos para Familias Excepcionales</li>
                          <li>Departamento de Educación Especial de SDSU</li>
                          <li>Censejo Estatal para Discapacidades, San Diego, Oficina Valle Imperial</li>
                          <li>Instituto de Calidad Educativa de Padres (PIQE)</li>
                          <li>Salud Mental América</li>
                          <li>Distrito Escolar de Primarias de Chula Vista (CVESD)</li>
                          <li>Club de Optimista International</li>
                          <li>La Asociación de ABA</li>
                          <li>TASK</li>
                          <li>Contruyendo Vidas Para Mejores Futuros</li>
                        </ul>
                  </div>
                </div>
              </div>
            </div>
        <% }else{ %>
        <p class='big'>4th Annual FERIA Partnership Conference</p>
        <hr>
        <div class='small'>
          <p class='date'>Sat, Nov 10, 2018, 8 AM - 3:30 PM (PST)</p>
          <p>Lighting the Pathway to Success and Wellness</p>
          <div class="embed-responsive embed-responsive-21by9 top">
            <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/ABUYlotv1iw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <p class='top'>Our goal is to provide families in the South Bay and San Diego area with educational information to better support their children's education, mental health well-being and access to community resources.</p>
          <button class='btn'>
              <a href='/docs/FERIA-conference/4th-program.pdf' target='_blank'>Event Program</a>
          </button>
          <hr>
          <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
            <div class="card">
              <div class="card-header" role="tab" id="headingOne1">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1">
                  <h5 class="mb-0">
                    Keynote Speaker <i class="fas fa-angle-down rotate-icon"></i>
                  </h5>
                </a>
              </div>
              <div id="collapseOne1" class="collapse" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                <div class="card-body container-fluid">
                    <div class='row no-gutters'>
                        <div class='item col-12'>
                            <h2>My Journey Through the Mountains</h2>
                            <hr>
                        </div>
                    </div>
                    <div class='row no-gutters'>
                        <div class='item col-sm-12 col-md-6'>
                          <img src='/images/team/clarisa-solis.jpg' class='keynote rounded-circle'>
                        </div>
                        <div class='item col-sm-12 col-md-6 keynote-text'>
                          <h2>Clarisa Solís</h2>
                          is an Educational Psychologist since 1987, has a Master's Degree in Neuropsychology and a Doctorate in Psychology. She was the founder of the first private special education school in Tijuana.
                        </div>
                    </div>
                    <div class='row no-gutters'>
                        <div class='item col-12'>
                            <a href='/docs/FERIA-conference/4th-program.pdf#page=7' target='_blank'>Full Bio</a>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="headingTwo2">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                  <h5 class="mb-0">
                    Workshop Topics <i class="fas fa-angle-down rotate-icon"></i>
                  </h5>
                </a>
              </div>
              <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2" data-parent="#accordionEx">
                <div class="card-body container-fluid">
                    <div class='item col-12'>
                        <p><a href='/docs/FERIA-conference/4-eval-sum.pdf' target='_blank'>Evaluations</a></p>
                        Full list and 
                        <a href='/docs/FERIA-conference/4th-program.pdf#page=8' target='_blank'>descriptions</a>
                    </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="headingThree3">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
                  <h5 class="mb-0">
                    Conference Offerings <i class="fas fa-angle-down rotate-icon"></i>
                  </h5>
                </a>
              </div>
              <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3" data-parent="#accordionEx">
                <div class="card-body">
                  Workshops/Resource Fair Designed for Families: Birth - Adult Years
                  <ul>
                    <li>Early Years Strand</li>
                    <li>School Age Strand</li>
                    <li>Secondary - Student Leadership Academy</li>
                    <li>Adult Strand</li>
                    <li>Parent Strand</li>
                    <li>Professional Strand</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="headingFour4">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFour4" aria-expanded="false" aria-controls="collapseFour4">
                  <h5 class="mb-0">
                    Sponsored By <i class="fas fa-angle-down rotate-icon"></i>
                  </h5>
                </a>
              </div>
              <div id="collapseFour4" class="collapse" role="tabpanel" aria-labelledby="headingFour4" data-parent="#accordionEx">
                <div class="card-body">
                  <ul>
                    <li>Foundation of Developmental Disabilities (FDD)</li>
                    <li>Southwestern Community College</li>
                    <li>San Diego Regional Center (SDRC)</li>
                    <li>La Voz de Padres: Special Families Optimist International Club</li>
                    <li>Sweetwater Union High School District (SUHSD)</li>
                    <li>South County SELPA</li>
                    <li>Arc of San Diego</li>
                    <li>Exceptional Family Resource Center (EFRC)</li>
                    <li>The Department of Special Education SDSU</li>
                    <li>State Council on Development Disabilities</li>
                    <li>Parents Institute for Quality Education (PIQE)</li>
                    <li>Mental Health America</li>
                    <li>Chula Vista Elementary School District (CVESD)</li>
                    <li>Optimist International Club</li>
                    <li>ABA Association</li>
                    <li>TASK</li>
                    <li>Building Lives for Better Future</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
<% if(spanish){ %>
    <% include partials/footer-spanish %>
<% }else{ %>
    <% include partials/footer %>
<% } %>