<% include partials/header-top %>
    <meta name='description' content='FERIA Partnership Annual Conference is to empower Latino families and provide them the knowledge to effectively support their children with special needs from cradle to college to adult life as well as to assist them in attaining their optimal learning potential through a culturally and linguistically responsive home, school and community collaborative in San Diego county, including a high school student leadership/self advocacy and professional strand.'>
    <meta name='keywords' content='4th annual feria partnership conference, feria, feria partnership, feria partnership conference, disability, disability support services, san diego mission, nonprofits in san diego, literacy strategies, resources, san diego charities, agencies, student success, latino, college, leadership, san diego regional center, exceptional family resource center, south western college, foundation for developmental disabilities'>
    <title>FERIA | 4th Annual FERIA Partnership Conference</title>
</head>
<% if(spanish){ %>
    <% include partials/header-spanish %>
<% }else{ %>
    <% include partials/header %>
<% } %>
<link rel='stylesheet' href='/stylesheets/event-conferences.css'>
<link rel='stylesheet' href='/stylesheets/feria-4.css'>
<div class='container-fluid no-padding'>
  <div class='row no-gutters'>
    <div class='item col-12 width conference'>
      <div class='carousel-caption'>
        <% if(spanish){ %>
          <p class='big'>4ta. Conferencia Anual Asociación FERIA de San Diego</p>
          <hr>
          <div class='small'>
            <p class='date'>Sábado, 10 de noviembre, 2018, 8:00 AM - 3:30 PM (PST)</p>
            <p>Iluminando el Camino al Exito y al Bienestar</p>
            <div class="embed-responsive embed-responsive-21by9 top">
              <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/ABUYlotv1iw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <p class='top'>Our goal is to provide families in the South Bay and San Diego area with educational information to better support their children's education, mental health well-being and access to community resources.</p>
            <button class='btn'>
              <a href='/docs/FERIA-conference/4th-program.pdf' target='_blank'>Event Program</a>
            </button>
            <hr>
            <div>
              <h5>Ponente principal</h5>
              <h2>Mi viaje por la montaña</h2>
              <div class='row no-gutters'>
                <div class='item col-sm-12 col-md-6'>
                  <img src='/images/team/clarisa-solis.jpg' class='keynote rounded-circle'>
                </div>
                <div class='item col-sm-12 col-md-6 keynote-text'>
                  <h2>Clarisa Solís</h2>
                  es Psicóloga Educativa desde 1987, tiene una maestría en Neuropsicología y doctorado en Psicología. Fue la fundadora de la primera escuela de educación especial privada en Tijuana.
                </div>
              </div>
              <div class='row no-gutters'>
                <div class='item col-12 keynote-text'>
                  <p>Por más de 25 años ha trabajado con niños con necesidades especiales, como autismo, síndrome de Down, discapacidades intelectual, parálisis cerebral, trastornos de aprendizaje y déficit de atención. Esta experiencia le permito desarrollar programas de integración para el cambio de conducta de toda la familia. 
                    Otros programas fueron enfocados en la comunicación entra la pareja y los hijos y la codependencia emocional. 
                  </p>
                  <p>Desde el 2005 dirige grupos de apoyo de superación personal para mujeres, además ofrece conferencias para padres en temas relacionados a la sexualidad, comunicación, relaciones y disciplina en la familia. Trabajó como maestra de educación especial en la universidad CETYS Tijuana por ocho años y recibió por parte del “National Center for Montessori Education”, El entrenamiento como maestra del sistema.</p>
                  <p>En el 2011 se publicó el libro Barreras de la Comunicación junto con Montana y Mayorquin. Desde hace dos años, cada martes participa en el programa de Radio Aprendiendo a Vivir.</p>
                </div>
              </div>
              <div class='row no-gutters'>
                <div class='item col-12'>
                  <a href='/docs/FERIA-conference/4th-program.pdf#page=7' target='_blank'>Biografía completa</a>
                </div>
              </div>
            </div>
            <hr>
            <div>
              Temas del taller
              <div class='item col-12'>
                <p><a href='/docs/FERIA-conference/4-eval-sum.pdf' target='_blank'>Evaluaciones</a></p>
                Lista completa y
                <a href='/docs/FERIA-conference/4th-program.pdf#page=8' target='_blank'>descripciones</a>
              </div>
            </div>
            <hr>
            <div>
              Ofertas de conferencias
              <p>Talleres / Feria de recursos Diseñado para familias: nacimiento - Año adulto</p>
              <ul>
                <li>Edad Temprana</li>
                <li>Secudaria-Academica de Liderazgo Estudiantil</li>
                <li>Linea de Adultos</li>
                <li>Linea de Padres</li>
                <li>Linea de Profesionales</li>
              </ul>
            </div>
            <hr>
            <div>
              Patrocinado por
              <ul>
                <li>Fundación de las Discapacidades de Desarrollo (FDD)</li>
                <li>Southwestern Community College</li>
                <li>Centro Regional de San Diego (SDRC)</li>
                <li>La Voz de Padres: Optimista de Familias Especiales</li>
                <li>Distrito Escolar Sweetwater Union</li>
                <li>SELPA Condado Sur</li>
                <li>Distrito Escolar Unificado de San Diego</li>
                <li>Arc of San Diego</li>
                <li>Centro Recursos para Familias Excepcionales</li>
                <li>Departamento de Educación Especial de SDSU</li>
                <li>Censejo Estatal para Discapacidades, San Diego, Oficina Valle Imperial</li>
                <li>Instituto de Calidad Educativa de Padres (PIQE)</li>
                <li>Salud Mental América</li>
                <li>Distrito Escolar de Primarias de Chula Vista (CVESD)</li>
                <li>Club de Optimista International</li>
                <li>La Asociación de ABA</li>
                <li>TASK</li>
                <li>Contruyendo Vidas Para Mejores Futuros</li>
              </ul>
            </div>
            </div>
        <% }else{ %>
        <p class='big'>4th Annual FERIA Partnership Conference</p>
        <hr>
        <div class='small'>
          <p class='date'>Sat, Nov 10, 2018, 8 AM - 3:30 PM (PST)</p>
          <p>Lighting the Pathway to Success and Wellness</p>
          <div class="embed-responsive embed-responsive-21by9 top">
            <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/ABUYlotv1iw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <p class='top'>Our goal is to provide families in the South Bay and San Diego area with educational information to better support their children's education, mental health well-being and access to community resources.</p>
          <button class='btn'>
              <a href='/docs/FERIA-conference/4th-program.pdf' target='_blank'>Event Program</a>
          </button>
          <hr>
          <div>
            <h5>Keynote Speaker</h5>
            <h2>My Journey Through the Mountains</h2>
            <div class='row no-gutters'>
              <div class='item col-sm-12 col-md-6'>
                <img src='/images/team/clarisa-solis.jpg' class='keynote rounded-circle'>
              </div>
              <div class='item col-sm-12 col-md-6 keynote-text'>
                <h2>Clarisa Solís</h2>
                is an Educational Psychologist since 1987, has a Master's Degree in Neuropsychology and a Doctorate in Psychology. She was the founder of the first private special education school in Tijuana.
              </div>
            </div>
            <div class='row no-gutters'>
              <div class='item col-12 keynote-text'>
                <p>
                  For more than 25 years she has worked with children with special needs, such as autism, Down syndrome, intellectual disabilities, cerebral palsy, learning disorders and attention deficit. This experience allowed her to develop integration programs to change the behavior of the whole family.
                  Other programs focused on communication between the couple and their children and emotional codependence.
                </p>
                <p>Since 2005, she has been leading support groups for women's self-improvement, as well as offering conferences for parents on issues related to sexuality, communication, relationships and family discipline. She worked as a special education teacher at CETYS Tijuana University for eight years and received training from the National Center for Montessori Education, as a teacher of the system.</p>
                <p>In 2011 the book Barreras de la Comunicación was published together with Montana and Mayorquin. For two years, every Tuesday she participates in the Radio Aprendiendo a Vivir program.</p>
              </div>
            </div>
            <div class='row no-gutters'>
              <div class='item col-12'>
                <a href='/docs/FERIA-conference/4th-program.pdf#page=7' target='_blank'>Full Bio</a>
              </div>
            </div>
          </div>
          <hr>
          <div>
            Workshop Topics
            <div class='item col-12'>
              <p><a href='/docs/FERIA-conference/4-eval-sum.pdf' target='_blank'>Evaluations</a></p>
              Full list and 
              <a href='/docs/FERIA-conference/4th-program.pdf#page=8' target='_blank'>descriptions</a>
            </div>
          </div>
          <hr>
          <div>
            Conference Offerings
            <p>Workshops/Resource Fair Designed for Families: Birth - Adult Years</p>
            <ul>
              <li>Early Years Strand</li>
              <li>School Age Strand</li>
              <li>Secondary - Student Leadership Academy</li>
              <li>Adult Strand</li>
              <li>Parent Strand</li>
              <li>Professional Strand</li>
            </ul>
          </div>
          <hr>
          <div>
            Sponsored By
            <ul>
              <li>Foundation of Developmental Disabilities (FDD)</li>
              <li>Southwestern Community College</li>
              <li>San Diego Regional Center (SDRC)</li>
              <li>La Voz de Padres: Special Families Optimist International Club</li>
              <li>Sweetwater Union High School District (SUHSD)</li>
              <li>South County SELPA</li>
              <li>Arc of San Diego</li>
              <li>Exceptional Family Resource Center (EFRC)</li>
              <li>The Department of Special Education SDSU</li>
              <li>State Council on Development Disabilities</li>
              <li>Parents Institute for Quality Education (PIQE)</li>
              <li>Mental Health America</li>
              <li>Chula Vista Elementary School District (CVESD)</li>
              <li>Optimist International Club</li>
              <li>ABA Association</li>
              <li>TASK</li>
              <li>Building Lives for Better Future</li>
            </ul>
          </div>
          </div>
        </div>
        <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
<% if(spanish){ %>
    <% include partials/footer-spanish %>
<% }else{ %>
    <% include partials/footer %>
<% } %>