<% if(spanish){ %>
    <% include partials/header-spanish %>
<% }else{ %>
    <% include partials/header %>
<% } %>
<link rel='stylesheet' href='/stylesheets/home.css'>

    <div class='container-fluid no-padding top'>
        <div class='row no-gutters'>
            <div class='item col-sm-12 col-md-8 width'>
                <img src='/images/home/crowd.jpg' class='img-fluid width height-big img-1' alt=''>
                <div class='carousel-caption'>
                    <a href='#events'><button type='button' class='btn btn-lg'>
                        <% if(spanish){ %>
                            Próximos Eventos
                        <% }else{%>
                            Upcoming Events
                        <% } %>
                        </button></a>
                </div>
            </div>
            <div class='item col-sm-12 col-md-4 width img-2'>
                <img src='/images/home/jose.jpg' class='img-fluid width h-100 height-small' alt=''>
                <div class='carousel-caption'>
                    <a href='/speak'><button type='button' class='btn btn-lg btn-speak'>
                        <% if(spanish){ %>
                            Hablar
                        <% }else{ %>
                            Speak
                        <% } %>
                        </button></a>
                </div>
                <img src='/images/home/vendor.jpg' class='img-fluid width h-100 height-small' alt=''>
                <div class='carousel-caption'>
                    <a href='/vendor'><button type='button' class='btn btn-lg btn-vendor'>
                        <% if(spanish){ %>
                            ser un vendedor
                        <% }else{ %>
                            Be a Vendor
                        <% } %>
                        </button></a>
                </div>
            </div>
        </div>
    </div>
    
    <div class='container-fluid no-padding'>
        <div class='row no-gutters'>
            <div class='item col-12 width what-is-feria'>
                <img src='/images/home/presenter.jpg' class='img-fluid width what-is-feria' alt=''>
                <div class='carousel-caption what-is-feria-text'>
                    <p class='big'>
                        <% if(spanish){ %>
                            ¿Que es la FERIA?
                        <% }else{ %>
                            What is FERIA?
                        <% } %>
                        </p>
                    <div class='small'>
                        <% if(spanish){ %>
                            <p>La mison del la Conferencia FERIA asociada con el hogar, la escuela y los colaboradores de la comunidad ofrecen un ambiente receptivo y receptivo cultural y linguisticamente que cree un ambiente de aprendizaje desarrollado por voces de familias Latinas. Profesionales y padres de familia aprenderan sobre programas basados en evidencias, estrategias literarias en casa / escuela, agencias, organizaciones a servicio de la comunidad local.</p>
                            <p>Desde el 2015</p>
                        <% }else{ %>
                            <p>The mission of the FERIA home, school and community partnership is to provide an inclusive culturally and linguistically responsive conference environment, which creates a learning environment developed by Latino family voices. Professionals and parents will learn about evidence-based programs, home/school language and literacy strategies, agencies and organizations available in the local community.</p>
                            <p>Since 2015</p>
                        <% } %>
                    </div>
                    <a href='/about'><button type='button' class='btn btn-lg'>
                        <% if(spanish){ %>
                            aprende más
                        <% }else{ %>
                            Learn more
                        <% } %>
                        </button></a>
                </div>
            </div>
        </div>
    </div>
    
    <div class='container-fluid no-padding'>
        <div class='row no-gutters'>
            <div class='item col-12 width'>
                <img src='/images/home/keynote.jpg' class='img-fluid width height-big' alt=''>
            </div>
        </div>
    </div>
    
    <div class='container-fluid no-padding'>
        <div class='row no-gutters quote'>
            <div class='item col-12 width height-big'>
                <div class='carousel-caption'>
                    <p class='quote-text'>
                        <% if(spanish){ %>
                            "Doy las gracias por las conferencia. Son una gran ayuda para nuestros hijos puedan ser mejor ser humanos de desarrollo, valores aprendizaje y cuidados. Gracias. Dios los Bendice."</p>
                        <% }else{ %>
                            "Loved the speaker and content. I wish and hope this workshop can be given to every family starting the process. Extremely helpful and empowering."</p>
                        <% } %>
                    <p class='small'>
                        <% if(spanish){ %>
                            - 4ta. Conferencia Anual Asociación FERIA de San Diego</p>
                        <% }else{ %>
                            - Let's Get Organized: IEP Record Keeping Workshop</p>
                        <% } %>
                </div>
            </div>
        </div>
    </div>
    
    <div id='events' class='container-fluid no-padding'>
        <div class='row no-gutters upcoming-events'>
            <div class='item col-12 width'>
                <div class='carousel-caption'>
                    <p class='big'>
                        <% if(spanish){ %>
                            Próximos Eventos</p>
                        <% }else{ %>
                            Upcoming Events</p>
                        <% } %>
                    <hr>
                    <ul class='small'>
                        <li>
                            <a href='/events/feria-5'><span class='event'>5th Annual FERIA Partnership Conference</span></a>
                            <p class='date'>Sat, Nov 9, 2019, 8:00 AM - 3:30 PM (PST)</p>
                            <% if(spanish){ %>
                                <a href='/events/feria-5-spanish'><button type='button' class='btn btn-lg'>
                                registro
                            <% }else{ %>
                                <a href='/events/feria-5'><button type='button' class='btn btn-lg'>
                                Register
                            <% } %>
                            </button></a>
                        </li>
                    </ul>
                    <% if(spanish){ %>
                            <a href='/events-spanish'><button type='button' class='btn btn-lg'>
                            Ver eventos pasados
                        <% }else{ %>
                            <a href='/events'><button type='button' class='btn btn-lg'>
                            View past events
                        <% } %>
                    </button></a>
                </div>
            </div>
        </div>
    </div>
    
    <div class='container-fluid no-padding'>
        <div class='row no-gutters'>
            <div class='item col-12 width height-big'>
                <div class='carousel-caption donors'>
                    <p class='big'>
                        <% if(spanish){ %>
                            Gracias especiales a nuestros principales donantes</p>
                        <% }else{ %>
                            Special thanks to our top donors</p>
                        <% } %>
                    <img src='/images/logo/top-donors.jpg' class='img-fluid width' alt=''>
                </div>
            </div>
        </div>
    </div>
<% if(spanish){ %>
    <% include partials/footer-spanish %>
<% }else{ %>
    <% include partials/footer %>
<% } %>