<% include partials/header %>
<link rel='stylesheet' href='/stylesheets/home.css'>

    <div class='container-fluid no-padding top'>
        <div class='row no-gutters'>
            <div class='item col-sm-12 col-md-8 w-100'>
                <img src='/images/home/crowd.png' class='img-fluid w-100 height-530 img-1' alt=''>
                <div class='carousel-caption'>
                    <a href='#events'><button type='button' class='btn btn-lg'>Upcoming Events</button></a>
                </div>
            </div>
            <div class='item col-sm-12 col-md-4 w-100 img-2'>
                <img src='/images/home/jose.png' class='img-fluid w-100 h-100 height-265' alt=''>
                <div class='carousel-caption'>
                    <a href='/speak'><button type='button' class='btn btn-lg btn-speak'>Speak</button></a>
                </div>
                <img src='/images/home/vendor.png' class='img-fluid w-100 h-100 height-265' alt=''>
                <div class='carousel-caption'>
                    <a href='/vendor'><button type='button' class='btn btn-lg btn-vendor'>Be a Vendor</button></a>
                </div>
            </div>
        </div>
    </div>
    
    <div class='container-fluid no-padding'>
        <div class='row no-gutters'>
            <div class='item col-12 w-100 what-is-feria'>
                <img src='/images/home/presenter.png' class='img-fluid w-100 what-is-feria' alt=''>
                <div class='carousel-caption what-is-feria-text'>
                    <p class='big'>What is FERIA?</p>
                    <p class='small'>The mission of the FERIA home, school and community partnership is to provide an inclusive culturally and linguistically responsive conference environment, which creates a learning environment developed by Latino family voices. Professionals and parents will learn about evidence-based programs, home/school language and literacy strategies, agencies and organizations available in the local community.</p>
                    <p class='small'>Since 2015</p>
                    <a href='/about'><button type='button' class='btn btn-lg'>Learn more</button></a>
                </div>
            </div>
        </div>
    </div>
    
    <div class='container-fluid no-padding'>
        <div class='row no-gutters'>
            <div class='item col-12 w-100'>
                <img src='/images/home/keynote.png' class='img-fluid w-100 height-530' alt=''>
            </div>
        </div>
    </div>
    
    <div class='container-fluid no-padding'>
        <div class='row no-gutters quote'>
            <div class='item col-12 w-100 height-530'>
                <div class='carousel-caption quote-text'>
                    <p class='big'>"Loved the speaker and content. I wish and hope this workshop can be given to every family starting the process. Extremely helpful and empowering."</p>
                    <p class='small'>- Let's Get Organized: IEP Record Keeping Workshop</p>
                </div>
            </div>
        </div>
    </div>
    
    <div id='events' class='container-fluid no-padding'>
        <div class='row no-gutters upcoming-events'>
            <div class='item col-12 w-100'>
                <div class='carousel-caption'>
                    <p class='big'>Upcoming Events</p>
                    <hr>
                    <ul class='small'>
                        <li>
                            <a href='/docs/IEP-record-keeping-flyer.pdf' target='_blank'><span class='event'>IEP Record Keeping Workshop</span></a>
                            <p class='date'>Mon, Jan 14, 2019, 6:00 PM at Bonita-Sunnyside Branch Library Conference Room</p>
                        </li>
                        <li>
                            <a href='/docs/applebee-fundraiser-flyer-english.pdf' target='_blank'><span class='event'>Applebee's Breakfast Fundraiser</span></a>
                            <p class='date'>Wed, Jan 26, 2019, 8:00 AM at Plaza Bonita Applebee's</p>
                        </li>
                        <li>
                            <a href='#'><span class='event'>5th Annual FERIA Partnership</span></a>
                            <p class='date'>November 2019</p>
                        </li>
                    </ul>
                    <a href='/events'><button type='button' class='btn btn-lg'>View past events</button></a>
                </div>
            </div>
        </div>
    </div>
    
    <div class='container-fluid no-padding'>
        <div class='row no-gutters'>
            <div class='item col-12 w-100 height-530'>
                <div class='carousel-caption donors'>
                    <p class='big'>Special thanks to our top donors</p>
                    <img src='/images/logo/top-donors.png' class='img-fluid w-100' alt=''>
                </div>
            </div>
        </div>
    </div>

<% include partials/footer %>