<% include partials/header-top %>
    <meta name='description' content='FERIA Partnership Annual Conference is to empower Latino families and provide them the knowledge to effectively support their children with special needs from cradle to college to adult life as well as to assist them in attaining their optimal learning potential through a culturally and linguistically responsive home, school and community collaborative in San Diego county, including a high school student leadership/self advocacy and professional strand.'>
    <meta name='keywords' content='feria, feria partnership, feria partnership conference, disability, disability support services, san diego mission, nonprofits in san diego, literacy strategies, resources, san diego charities, agencies, student success, latino, college, leadership, san diego regional center, exceptional family resource center, south western college, foundation for developmental disabilities'>
    <title>FERIA | Questions and Concerns</title>
</head>
<% if(spanish){ %>
    <% include partials/header-spanish %>
<% }else{ %>
    <% include partials/header %>
<% } %>
<div class='box'>
  <div class='container-fluid no-padding top'>
      <div class='row no-gutters d-flex justify-content-center align-items-center'>
          <div class='item col-10 bottom'>
              <div class='big'>
              General Questions
              </div>
              <hr>
              <div class='small'>
                <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                  <div class="card">
                  <div class="card-header" role="tab" id="headingOne1">
                    <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1">
                      <h5 class="mb-0">
                        How do I register for an event? <i class="fas fa-angle-down rotate-icon"></i>
                      </h5>
                    </a>
                  </div>
                  <div id="collapseOne1" class="collapse" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                    <div class="card-body">
                    </div>
                  </div>
                </div>
                  <div class="card">
                  <div class="card-header" role="tab" id="headingTwo2">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                      <h5 class="mb-0">
                        Do I qualify for a scholarship to the next Annual FERIA Partnership Conference? <i class="fas fa-angle-down rotate-icon"></i>
                      </h5>
                    </a>
                  </div>
                  <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2" data-parent="#accordionEx">
                    <div class="card-body">
                    </div>
                  </div>
                </div>
                </div>
                <hr>
                San Diego Regional Center (SDRC)
                <div class="accordion md-accordion" id="accordionEx2" role="tablist" aria-multiselectable="true">
                  <div class="card">
                  <div class="card-header" role="tab" id="headingOne12">
                    <a data-toggle="collapse" data-parent="#accordionEx2" href="#collapseOne12" aria-expanded="false" aria-controls="collapseOne12">
                      <h5 class="mb-0">
                        How do I apply for San Diego Regional Center services? <i class="fas fa-angle-down rotate-icon"></i>
                      </h5>
                    </a>
                  </div>
                  <div id="collapseOne12" class="collapse" role="tabpanel" aria-labelledby="headingOne12" data-parent="#accordionEx2">
                    <div class="card-body">
                      You must fill out SDRC's form on their website and send your completed form to the necessary emails. Find the required forms on their website <a href='https://sdrc.org/index.php/how-to-apply/' target='_blank'>here</a>
                    </div>
                  </div>
                </div>
                  <div class="card">
                  <div class="card-header" role="tab" id="headingTwo22">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx2" href="#collapseTwo22" aria-expanded="false" aria-controls="collapseTwo22">
                      <h5 class="mb-0">
                        Where can I find the name of my service coordinator? <i class="fas fa-angle-down rotate-icon"></i>
                      </h5>
                    </a>
                  </div>
                  <div id="collapseTwo22" class="collapse" role="tabpanel" aria-labelledby="headingTwo22" data-parent="#accordionEx2">
                    <div class="card-body">
                    </div>
                  </div>
                </div>
                  <div class="card">
                  <div class="card-header" role="tab" id="headingThree32">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx2" href="#collapseThree32" aria-expanded="false" aria-controls="collapseThree32">
                      <h5 class="mb-0">
                        Where can I find my child's ID number (UCID)? <i class="fas fa-angle-down rotate-icon"></i>
                      </h5>
                    </a>
                  </div>
                  <div id="collapseThree32" class="collapse" role="tabpanel" aria-labelledby="headingThree32" data-parent="#accordionEx2">
                    <div class="card-body">
                    </div>
                  </div>
                </div>
                </div>
                <hr>
              </div>
              If you are unable to find the answer to a question on our website, please <a href='/contact'>contact us</a>
          </div>
      </div>
  </div>
</div>
<% if(spanish){ %>
    <% include partials/footer-spanish %>
<% }else{ %>
    <% include partials/footer %>
<% } %>