<% include partials/header-top %>
    <meta name='description' content='FERIA Partnership Annual Conference is to empower Latino families and provide them the knowledge to effectively support their children with special needs from cradle to college to adult life as well as to assist them in attaining their optimal learning potential through a culturally and linguistically responsive home, school and community collaborative in San Diego county, including a high school student leadership/self advocacy and professional strand.'>
    <meta name='keywords' content='feria, feria partnership, feria partnership conference, disability, disability support services, san diego mission, nonprofits in san diego, literacy strategies, resources, san diego charities, agencies, student success, latino, college, leadership, san diego regional center, exceptional family resource center, south western college, foundation for developmental disabilities'>
    <title>FERIA | Questions and Concerns</title>
</head>
<% if(spanish){ %>
    <% include partials/header-spanish %>
<% }else{ %>
    <% include partials/header %>
<% } %>
<div class='container-fluid no-padding top'>
    <div class='row no-gutters d-flex justify-content-center align-items-center'>
        <div class='item col-10 bottom'>
            <div class='big'>
            General Questions
            </div>
            <hr>
            <div class='small'>
                <div>
                    <strong>How do I register for an event?</strong>
                </div>
                <div>
                    <strong>Do I qualify for a scholarship to the next Annual FERIA Partnership Conference?</strong>
                    <p></p>
                </div>
                <hr>
                <div>
                    <div>San Diego Regional Center (SDRC)</div>
                <div>
                    <strong>How do I apply for San Diego Regional Center services?</strong>
                    <p>You must fill out SDRC's form on their website and send your completed form to the necessary emails. Find the required forms on their website <a href='https://sdrc.org/index.php/how-to-apply/' target='_blank'>here</a></p>
                </div>
                <div>
                    <strong>Where can I find the name of my service coordinator?</strong>
                    <p></p>
                </div>
                <div>
                    <strong>Where can I find my child's ID number (UCID)?</strong>
                    <p></p>
                </div>
                <hr>  
                </div>
            </div>
            If you are unable to find the answer to a question on our website, please <a href='/contact'>contact us</a>
        </div>
    </div>
</div>
<% if(spanish){ %>
    <% include partials/footer-spanish %>
<% }else{ %>
    <% include partials/footer %>
<% } %>