p {
    margin: 0;
    padding: 0;
}
hr {
    height: 5px;
    width: 100%;
}
@media only screen and (max-width: 1920px){
    .height-big {height:50rem;}
}
@media only screen and (max-width: 1824px){
}
@media only screen and (max-width: 1224px){
    .height-big {height:40rem;}
}
@media only screen and (max-width: 768px){
    .big {font-size:1.75em;}
    .small {font-size:1em;}
    .height-big {height:30rem;}
}
@media only screen and (max-width: 414px) {
    .big {font-size:1.5em;}
    .small {font-size:1em;}
    .height-big {height:35rem;}
    .video {padding-top: 150px}
}
@media only screen and (max-width: 375px) {
    .height-big {height:38rem;}
}
@media only screen and (max-width: 360px) {
    .height-big {height:40rem;}
}
@media only screen and (max-width: 320px) {
    .big {font-size:1em;}
    .small {font-size:.8em;}
    .height-big {height:500px;}
}
.carousel-caption {
    color: #333;
    text-align: left;
    top: 5%;
}
.big {
    border-left: solid 5px #e74c3c;
    padding-left: 15px;
}
.team {
    padding-left: 0px;
    text-align: center;
    background-color: #e74c3c;
    color: #fff;
    border-radius: 20px;
}
.img-thumbnail {
    width: 200px;
    height: 200px;
}
.titles {
    list-style: none;
    font-size: 14px;
    padding: 0px;
}
.bottom {
    padding-bottom: 100px
}
.team-img img {
    border-radius:100px;
}
.submit {
    padding-top:10px;
}