@media only screen and (max-width: 1920px){
    .events { height: 300px;}
    .events-past { height: 800px;}
    .collage img { height: 200px;}
}
@media only screen and (max-width: 1824px){
    
}
@media only screen and (max-width: 1224px){
    
}
@media only screen and (max-width: 768px){
    .events { height: 400px;}
    .events-past {height: 1000px;}
    .collage img { height: 150px;}
}
@media only screen and (max-width: 414px) {
    .events {height: 300px;}
    .events-past {height: 800px;}
    .collage img { height: 100px;}
}
@media only screen and (max-width: 375px) {
    .events {height: 300px;}
    .events-past {height: 1000px;}
    .collage img { height: 75px;}
}
@media only screen and (max-width: 360px) {
    .collage img { height: 50px;}
}
@media only screen and (max-width: 320px) {
    .events-past {height: 700px;}
    .collage img { height: 0px;}
}
.events {
    background: #667db6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.events a {
    color: #ffffcc;
}