li {
    text-align: left;
    padding-left: 1.3em;
}
li:before {
    content: url('/images/graphics/bullet.jpg');
    display:inline-block;
    margin-left: -1.3em;
    width: 1.3em;
}
.conference {
    height: 3000px;
    background-color:#0f0f1b;
    background: 
        /* top, transparent black, faked with gradient */ 
        -webkit-gradient(
          linear, 
          left top, left bottom, 
          from(rgba(0, 0, 0, 0.3)), 
          to(rgba(0, 0, 0, 0.3))
        ),
        /* bottom, image */
        url('/images/graphics/mountain-frame.jpg');
    background: 
        /* top, transparent black, faked with gradient */ 
        -webkit-linear-gradient(
          rgba(0, 0, 0, 0.3), 
          rgba(0, 0, 0, 0.3)
        ),
        /* bottom, image */
        url('/images/graphics/mountain-frame.jpg');
    background: 
        /* top, transparent black, faked with gradient */ 
        -o-linear-gradient(
          rgba(0, 0, 0, 0.3), 
          rgba(0, 0, 0, 0.3)
        ),
        /* bottom, image */
        url('/images/graphics/mountain-frame.jpg');
    background: 
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.3), 
          rgba(0, 0, 0, 0.3)
        ),
        /* bottom, image */
        url('/images/graphics/mountain-frame.jpg');
    background-size: cover;
}
.table > tbody > tr > td {
     vertical-align: middle;
}
.card {background-color:#171b33;}
.carousel-caption {
    top: 30%;
}
.card-header {
    text-align:left;
}
.keynote {
    height: 10em;
}
.keynote-text {
    font-size:.8em;
}