.carousel-caption {
    top: 2%;
}
@media only screen and (max-width: 1920px){
    .conference {height: 6800px;}
}
@media only screen and (max-width: 1824px){
    .conference {height: 5800px;}
}
@media only screen and (max-width: 1224px){
    .conference {height: 4800px;}
}
@media only screen and (max-width: 768px){
    .conference {height: 8000px;}
}
@media only screen and (max-width: 414px) {
    .conference {height: 6800px;}
}
@media only screen and (max-width: 375px) {
    .conference {height: 7000px;}
}
@media only screen and (max-width: 360px) {
    .conference {height: 7200px;}
}
@media only screen and (max-width: 320px) {
    .conference {height: 6000px;}
    .carousel-caption {top: 3%;}
}
.conference {
    background: 
        /* top, transparent black, faked with gradient */ 
        -webkit-gradient(
          linear, 
          left top, left bottom, 
          from(rgba(0, 0, 0, 0.3)), 
          to(rgba(0, 0, 0, 0.3))
        ),
        /* bottom, image */
        url('/images/graphics/mountain-frame.jpg');
    background: 
        /* top, transparent black, faked with gradient */ 
        -webkit-linear-gradient(
          rgba(0, 0, 0, 0.3), 
          rgba(0, 0, 0, 0.3)
        ),
        /* bottom, image */
        url('/images/graphics/mountain-frame.jpg');
    background: 
        /* top, transparent black, faked with gradient */ 
        -o-linear-gradient(
          rgba(0, 0, 0, 0.3), 
          rgba(0, 0, 0, 0.3)
        ),
        /* bottom, image */
        url('/images/graphics/mountain-frame.jpg');
    background: 
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.3), 
          rgba(0, 0, 0, 0.3)
        ),
        /* bottom, image */
        url('/images/graphics/mountain-frame.jpg');
    background-repeat: no-repeat;
    background-color:rgb(10,10,19);
}
.keynote {
    height: 10em;
}
.keynote-text {
    text-align: left;
    font-size:.8em;
}
.keynote-text li:before {
    content: none;
}
.keynote-text li {
    list-style: circle;
}
.top {
    padding-bottom: 10px;
}
.card {
    text-align: left;
}
.checked {
  color: orange;
}

/* Three column layout */
.side {
  float: left;
  width: 18%;
  padding-left: 20px;
}

.middle {
  float: left;
  width: 64%;
  padding-top: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

.bar {
    height:18px;
    width: 0%;
}
/* Individual bars */
.bar-5 {background-color: #4CAF50;}
.bar-4 {background-color: #2196F3;}
.bar-3 {background-color: #00bcd4;}
.bar-2 {background-color: #ff9800;}
.bar-1 {background-color: #f44336;}

.bar-5-key {width: 99%;}
.bar-4-key {width: 1%;}

.bar-5-1 {width: 90%;}
.bar-4-1 {width: 10%;}

.bar-5-2 {width: 85%;}
.bar-4-2 {width: 6%;}
.bar-3-2 {width: 6%;}

.bar-5-3 {width: 67%;}
.bar-4-3 {width: 16.5%;}
.bar-3-3 {width: 16.5%;}

.bar-5-4 {width: 38%;}
.bar-4-4 {width: 45%;}
.bar-3-4 {width: 7%;}
.bar-2-4 {width: 3%;}

.bar-5-5 {width: 67%;}
.bar-4-5 {width: 33%;}

.bar-5-6 {width: 88%;}
.bar-4-6 {width: 22%;}

.bar-5-7 {width: 68%;}
.bar-4-7 {width: 19%;}
.bar-3-7 {width: 11%;}
.bar-2-7 {width: 2%;}

.bar-5-8 {width: 57%;}
.bar-4-8 {width: 29%;}
.bar-3-8 {width: 14%;}
.bar-2-8 {width: 7%;}

.bar-5-12 {width: 88%;}
.bar-4-12 {width: 22%;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .side, .middle {width: 50%;}
  
  /* Hide the right column on small screens */
  .right {
    display: none;
  }
  .bar {
      height:10px;
  }
}
.carousel {
  height:270px;
}