@media only screen and (max-width: 1920px){
    .conference {height: 6000px;}
}
@media only screen and (max-width: 1824px){
    .conference {height: 5000px;}
}
@media only screen and (max-width: 1224px){
    .conference {height: 4000px;}
}
@media only screen and (max-width: 768px){
    .conference {height: 4600px;}
}
@media only screen and (max-width: 414px) {
    .conference {height: 5200px;}
}
@media only screen and (max-width: 375px) {
    .conference {height: 5550px;}
}
@media only screen and (max-width: 360px) {

}
@media only screen and (max-width: 320px) {
.conference {height: 4550px;}
}
.conference {
    background-color:#0f0f1b;
    background: 
        /* top, transparent black, faked with gradient */ 
        -webkit-gradient(
          linear, 
          left top, left bottom, 
          from(rgba(0, 0, 0, 0.3)), 
          to(rgba(0, 0, 0, 0.3))
        ),
        /* bottom, image */
        url('/images/graphics/mountain-frame.jpg');
    background: 
        /* top, transparent black, faked with gradient */ 
        -webkit-linear-gradient(
          rgba(0, 0, 0, 0.3), 
          rgba(0, 0, 0, 0.3)
        ),
        /* bottom, image */
        url('/images/graphics/mountain-frame.jpg');
    background: 
        /* top, transparent black, faked with gradient */ 
        -o-linear-gradient(
          rgba(0, 0, 0, 0.3), 
          rgba(0, 0, 0, 0.3)
        ),
        /* bottom, image */
        url('/images/graphics/mountain-frame.jpg');
    background: 
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.3), 
          rgba(0, 0, 0, 0.3)
        ),
        /* bottom, image */
        url('/images/graphics/mountain-frame.jpg');
    background-size: cover;
}
.carousel-caption {
    top: 5%;
}
.keynote {
    height: 10em;
}
.keynote-text {
    text-align: left;
    font-size:.8em;
}
.top {
    padding-bottom: 10px;
}