html, body {
    height: 100%;
    width: 100%;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;
}
ul,li { list-style-type: none;
        list-style-position:inside;
        margin:0;
        padding: 0;
        padding-bottom: 10px;
}
@media only screen and (max-width: 1920px){
    .big {font-size:3.5em;}
    .small {font-size:2.5em;}
    .width {width: 100%;}
    .height-big {height:530px;}
    .height-small {max-height:265px;}
}
@media only screen and (max-width: 1824px){
    .big {font-size:3em;}
    .small {font-size:2em;}
}
@media only screen and (max-width: 1224px){
    .big {font-size:2.5em;}
    .small {font-size:1.5em;}
}
@media only screen and (max-width: 768px){
    .big {font-size:2em;}
    .small {font-size:1.5em;}
    .height-big {height:400px;}
}
@media only screen and (max-width: 414px) {
    .big {font-size:1.75em;}
    .small {font-size:1.25em;}
}
@media only screen and (max-width: 375px) {
    .btn {font-size:1rem;line-height:1;}
}
@media only screen and (max-width: 360px) {
    .big {font-size:1.2em;}
    .height-big {height:300px;}
}
@media only screen and (max-width: 320px) {
    .big {font-size:1.5em;}
    .small {font-size:1em;}
}
.flag {
    margin-left: 5px;
    margin-right: 5px;
    width: 40px;
    height: 25px;
}
.language {
    color: #333;
    background-color: #ccc;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    border-radius: 20px;
}
.navbar-brand {font-size: 28px;}
.navbar {font-size: 1rem;}
.no-padding {
    padding-left: 0;
    padding-right: 0;
}
.top {padding-top: 100px}
.bottom {padding-bottom:10px}
.item {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.btn {
    color: #fff;
    background-color: #ff4d4d;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}
.btn:hover {background-color: #b30000;}
.btn:active {
    background-color: #b30000;
    border: solid 5px #ff3300;
}
.footer {
    background-color: #333;
    color: #777;
    max-width: none;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.icon {font-size: 1.5em;}
.date {margin-bottom: 30px;}