@media only screen and (max-width: 1920px){
    .quote-text {font-size:2em;}
    .upcoming-events {height: 400px;}
    .donors img {max-height: 300px; max-width: 600px}
}
@media only screen and (max-width: 1824px){
    /*.quote-text {font-size:2em;}*/
}
@media only screen and (max-width: 1224px){
    /*.quote-text {font-size:2.5em;}*/
}
@media only screen and (max-width: 768px){
    .img-1 {height: 400px;}
    .height-big {height:400px;}
    .quote-text {font-size:1.5em;}
}
@media only screen and (max-width: 414px) {
    .img-1 {height: 300px;}
    .quote-text {font-size:1.25em;}
}
@media only screen and (max-width: 375px) {
    .btn {font-size:1rem;line-height:1;}
}
@media only screen and (max-width: 360px) {
    .img-1 {height: 300px;}
    .quote-text {font-size:1em;}
}
@media only screen and (max-width: 320px) {
    .img-1 {height: 300px;}
    .donors img {min-height: 100px;}
    .quote-text {font-size:.8em;}
}
.carousel-caption {
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    bottom: initial;
}
.btn-speak {
    -webkit-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
            transform: translateY(-100px);
}
.btn-vendor {
    -webkit-transform: translateY(150px);
        -ms-transform: translateY(150px);
            transform: translateY(150px);
}
.img-2 {
    background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#333));
    background: -webkit-linear-gradient(#333, #333);
    background: -o-linear-gradient(#333, #333);
    background: linear-gradient(#333, #333);
}
.img-2 img {opacity: .4;}
div.what-is-feria {background-color: #991f00;}
div.what-is-feria img {
    opacity: .4;
    height: 900px;
}
.what-is-feria-text p {padding-bottom: 20px;}
.quote {
    background: -webkit-gradient(linear, left top, left bottom, from(#e74c3c), to(#333));
    background: -webkit-linear-gradient(#e74c3c, #333);
    background: -o-linear-gradient(#e74c3c, #333);
    background: linear-gradient(#e74c3c, #333);
}
.upcoming-events {background-color: #333;}
.event {color: #e74c3c;}
.donors {
    color: #333;
    background-color: #fff;
}
.top {padding-top: 50px}